[2021-09-25 04:13] nep2ner opened #2 "SSH Tunnel Port Forwarding"
First of all great app, I must say that this is the best VNC experience I've had yet on Andriod!

The integrated SSH tunnel is a great feature. However I noticed that there is no place to specify particular port forwards. How does this work? Does AVNC assume that you want to forward the same remote port as the local port that you specific in AVNC?

Some users may want to be able to forward remote

[2021-09-25 05:13] gujjwal00 commented on #2
Really glad you like it!

Can you please explain where/how do you want to setup port forwards?
For now, this is how SSH tunnel works in AVNC:

Without tunnel:
[code]

With tunnel:
[code]

- Both vnc_client & ssh_client are part of AVNC
- You can specify different host/ports for ssh_server & vnc_server

[2021-10-03 20:36] dbolton opened #3 "Button to show keyboard"
I don't see a way to show the keyboard, but I see one in your screenshots. How do I get the keyboard show?

Samsung, Android 11

[2021-10-04 01:21] gujjwal00 commented on #3
You can swipe-in from the left edge.
You can also long press on the left edge to peak it.

It's a simple drawer widget, like the one in home activity. If you prefer, you can set the alignment to right edge in settings.

[2021-10-04 02:20] gujjwal00 commented on #2
@nep2ner have you resolved this issue?

[2021-10-04 02:56] dbolton commented on #3
Perfect! Thank you.

[2021-10-04 02:56] #3 closed

[2021-10-05 18:33] nep2ner commented on #2
Thank you for the detailed explanation @gujjwal00! I misunderstood the `random_port` aspect of this process, but that seems like a great way to do it. Keep up the amazing work!

[2021-10-05 18:33] #2 closed

[2021-10-05 21:56] gujjwal00 commented on #2
Yeah that could have been explained better. By `random_port` I was referring to a port automatically picked by the system.

And because SSH client is part of AVNC, it knows what port the system picked. So you don't have to explicitly set the local port for the tunnel.

PS: When I was writing the first comment, I realized that SSH tunnel created by AVNC could accept new connections during the entir

[2021-10-07 16:27] Buntbart opened #4 "FR: sort list of servers"
Thank you very much for AVNC!! And also thank you for putting it on F-Droid!

This is by far the best VNC-Client for Android I've seen so far.

I would appreciate very much if it was possible to manually sort the list of known servers. As an alternative it would be helpful to sort the servers in alphabetical order.

Thank you!

[2021-10-07 17:15] gujjwal00 commented on #4
Glad you like it!

Sorting alphabetically by name is relatively easy to implement as we can simply pass the required order to database query.

Sorting manually would require implementation of drag-n-drop in server list and the logic to save/update prefered positions. I would like to avoid this route if this is not somethig critical to you. As a poor man's alternative for this, you could  (ab)use t

[2021-10-08 03:01] sukualam opened #5 "add Mouse Trackpad mode and gesture like laptop"
please add trackpad mode, its hard to operating with direct touch..

[2021-10-08 08:56] aliyoge opened #6 "Can you add two finger tap gesture for mouse right click?"
Because if i enable drag gesture, then i can't tigger long press for mouse right click.

[2021-10-08 14:19] gujjwal00 commented on #6
You actually *can* trigger the right click in this case. You just have to **lift** your finger after long press, and not move it. When you set an action for drag gesture in settings and then long press during a session, AVNC waits for your next move to decide whether its a simple long press or a drag gesture (and yes, I know its not very intuitive).

This is the reason why drag gesture is not assi

[2021-10-08 23:16] nep2ner commented on #2
I'm glad that it was helpful!

[2021-10-09 15:45] gujjwal00 commented on #6
So the detection works reliably with the current algorithm I have (we can even detect 3/4 finger taps).

Now the question is, where to do the click:
-  Touch-point of first finger
-  Touch-point of second finger
-  Middle of both touch-points
-  Wherever the pointer is  (currently not possible as AVNC does not have this info)

[2021-10-12 15:59] gujjwal00 commented on #4
Hi @Buntbart , I have implemented a preference to sort saved servers alphabetically (https://github.com/gujjwal00/avnc/commit/7cfc4d6915f2efa3c700380ea7070813807c589f).
You can now enable `Settings -> Interface -> Sort Server List` to sort servers.

You can use this [debug apk](https://github.com/gujjwal00/avnc/suites/4031275991/artifacts/102016182) to test it out.
If you have any feedback, let me

[2021-10-12 16:48] gujjwal00 commented on #4
OK.

I am closing this issue now, but feel free to reopen it if you encounter a problem.

[2021-10-12 16:48] #4 closed

[2021-10-22 18:21] Gottarocket opened #7 "Pi"
Cant connect to pi change all auth on advanced settings but shows same issue disconnected error

[2021-10-24 02:26] gujjwal00 commented on #7
Can you please paste the logs again ( with `VncAuth` enabled in the server)?

AVNC, as it uses LibVNCClient, supports many security types. Issue here is that security types used by RealVNC server seems to be proprietary ( I could not find much information as to how they work). So they are only supported by RealVNC client.

[2021-10-24 07:49] #7 closed, assigned to nobody

[2021-10-25 21:38] didierm opened #8 "S-Pen not functional"
Thank you for what looks like a very promising app.

I use VNC to connect to localhost, which is launched by an Xvnc session inside a Fedora distro deployment via Termux : this allows to run (aarch64) Linux applications almost natively on Android.

My main interest is running note-taking apps not available for Android (mainly Xournal++ and Okular).
This is on a Galaxy Tab S6 Lite with S-Pen (capac

[2021-11-01 07:27] leapofazzam123 commented on #5
I'm so used to this when I previously use RealVNC Viewer. Also, some VNC servers like TigerVNC set the VNC cursor bitmap (yes, VNC has a dedicated cursor bitmap, as seen in RealVNC Viewer) to the X11 cursor bitmap, it also automatically syncs the X and Y positions to the X11 cursor position. So, it certainly not an issue for TigerVNC. I want this feature in AVNC. I felt like AVNC is the most compl

[2021-11-01 17:56] gujjwal00 commented on #6
I have added 2-finger Tap gesture (https://github.com/gujjwal00/avnc/commit/a7d939d9534cc1401c0061a2c52ccf651c4d582e):
-  Currently the default action for this gesture is to open keyboard. I find it useful that I can tap with both thumbs to open keyboard and start typing straight away.
- You can change the action to Right-Click. Click will be sent to the touchpoint of first finger.
- I am marking

[2021-11-01 18:08] gujjwal00 commented on #5
Yes, I know that (please read my first comment). You can even find     Issue with

[2021-11-01 18:10] gujjwal00 commented on #5
Sorry, accidentally closed!

[2021-11-01 18:37] gujjwal00 commented on #5
Yes, I know that (please read my first comment). You can still find [some remains](https://github.com/gujjwal00/avnc/blob/24ec0e0b416b83a03c958072be42488b1d820ebc/app/src/main/java/com/gaurav/avnc/vnc/VncClient.kt#L284) of my first attempt.

Nevertheless, I will try again to implement it by remembering the last pointer position we sent any event to.

I am not implementing client-side cursor drawin

[2021-11-01 18:46] tuanpham-dev opened #10 "Crash when clicking copy file"
As the title, I was kicked out to home screen when I was trying to copy a file. I think this bug related to clipboard sync feature. I think it should only sync when clipboard is text format.

[2021-11-01 19:07] gujjwal00 commented on #10
[This](https://github.com/gujjwal00/avnc/blob/24ec0e0b416b83a03c958072be42488b1d820ebc/app/src/main/java/com/gaurav/avnc/viewmodel/BaseViewModel.kt#L59) is where we are accessing the clipboard. [`getText()`](https://developer.android.com/reference/android/content/ClipData.Item#getText()) should return `null` when clipboard content is not textual.

Can you post the debug logs from Settings? Maybe t

[2021-11-02 00:21] pguenth opened #11 "FR: set remote display resolution"
First of all, thank you for the great app. Especially the built-in SSH tunneling is extremely useful.
In my opinion it would be very useful to be able to set the remote display resolution in the app. I think at the moment the default server resolution is used which leads to impractical scrolling due to the server's default landscape orientation.
Thank you again!

[2021-11-02 02:47] gujjwal00 commented on #11
Really happy to know that you find it useful!

It is true that currently server's default resolution is used. But the the issue you are describing (that you have to scroll in portrait mode as you cannot see the whole frame) may be related to how AVNC handles zooming.

AVNC tries to maximize the frame size, using bigger side of the viewer. So in effect, it is optimized for the landscape mode. Becau

[2021-11-02 05:40] garabik opened #12 "ESC key not recognized"
I am using AVNC to connect to a remote Linux desktop., connecting from a device with a hardware built-in keyboard ([Cosmo](https://store.planetcom.co.uk/products/cosmo-communicator)) and pressing the ESC key ends AVNC immediately. I can reconnect, but using a desktop without ESC is sometimes difficult.

I understand ESC is "special" in Android and you have to code around it - this is something tha

[2021-11-02 08:20] gujjwal00 commented on #12
Hi @garabik , I have an external keyboard where ESC key works correctly with AVNC. So it may be something special about your hardware causing this issue. I will need some more info about this:

- > pressing the ESC key ends AVNC immediately.

  Is the app crashing **or** the session is simply disconnected?
- Please go to `Settings > Input > Virtual Keys` and enable 'Show all keys'. Now reconnect t

[2021-11-02 08:55] garabik commented on #12
Disconnected - it returns to the server list. Though I'd swear I saw the app simply disappear before, but that might have been hitting ESC twice or something (in any case, no Android dialog ever appeared).

Yes, no problem with a virtual ESC.

Done. The log was produced while pressing a single ESC key, no other events.

[avnc-log.txt](https://github.com/gujjwal00/avnc/files/7459161/avnc-log.txt)
[

[2021-11-02 09:30] gujjwal00 commented on #12
Logs look normal! As you suspected, ESC key appears to be treated as back-press. Let me look around a bit.

[2021-11-02 10:35] gujjwal00 commented on #12
Can you please test the APK I am attaching here?
 (BTW mentioning Termux was super helpful)

[avnc-debug.zip](https://github.com/gujjwal00/avnc/files/7459851/avnc-debug.zip)

[2021-11-02 12:00] garabik commented on #12
Anything in the settings I have to change?

No improvement, ESC still disconnects, keyboard map is the same and the log looks the same, too...

[2021-11-02 12:33] gujjwal00 commented on #12
No, there was no setting to change. I tried to capture escape key via [onKeyPreIme()](https://developer.android.com/reference/android/view/View#onKeyPreIme(int,%20android.view.KeyEvent)), which unfortunately didn't seem to work.

I am attaching a new APK. It will log all key events received from Android. Can you please try again (and post the logs this time)?

[app-debug.zip](https://github.com/gu

[2021-11-02 14:08] tuanpham-dev commented on #10
Actually I was trying my modified version (version 1.1.0 on FDroid works fine). The copy logs function does not work in my version so I cannot post the logs.
I am closing this issue and will reopen it if I face the problem in official version.

[2021-11-02 14:08] #10 closed

[2021-11-02 14:10] garabik commented on #12
Which permissions should I give to the app? I am attaching the log, but there are no obvious events recorded, and the third line looks like a relevant error...
[avnc-log2.txt](https://github.com/gujjwal00/avnc/files/7461308/avnc-log2.txt)

[2021-11-02 14:29] gujjwal00 commented on #12
No special permission is needed here.

Yeah, there is no key event in the logs. That is weird. Is your Android version handling the Escape key itself, rather than delivering it to AVNC? Does Escape key works perfectly with Termux?

That doesn't appear to be related to AVNC.

[2021-11-02 18:48] garabik commented on #12
Cosmo is known for its [weird keyboard handling](https://www.oesf.org/forum/index.php?topic=35943.0) but from the description it does not seem to affect the ESC key (unless the App bar is open, which is not relevant here).

Yes. Of course, only with `back-key=escape` in `.termux/termux.properties`

[2021-11-03 02:39] gujjwal00 commented on #12
Looks like it *does* affect the Esc key, otherwise you wouldn't have to specify `back-key=escape` in Termux (which *simulates* Escape on Back press). Although in the last logs we didn't even receive a Back key event.

Can you pull `/system/framework/services[.jar]` (as noted in your article) using `adb`, and link it here? I want to see exactly what they are doing with Escape, and if there is any w

[2021-11-03 15:59] voidbert commented on #12
Hey! I started using AVNC recently and I'm experiencing similar behavior. In my case, I am sure my Android Launcher (or Android System itself) is handling the event and taking me to the Home screen. It's not handled the same way as the back key, as that just closes the VNC activity and takes me to the place to choose a server. This isn't an annoyance for my use case but I think it can be useful in

[2021-11-03 16:57] gujjwal00 commented on #12
Hi @voidbert, thanking for sharing.

If you want, you can try the APK from this comment: https://github.com/gujjwal00/avnc/issues/12#issuecomment-957316034.

Unfortunately this type of issues are tricky to fix as I don't have a similar device to test on, and there is no documentation about the behavior. And I know this is frustrating to reporters too, as they have to test a bunch of different appr

[2021-11-03 18:24] voidbert opened #14 "Diacritics from external keyboard not working"
**Version**: The latest from F-Droid as of now (1.2.0) on Android 10

**How to recreate from scratch:**
- Run Ubuntu chrooted through [Termux](https://f-droid.org/en/packages/com.termux/) (using [AnLinux](https://f-droid.org/en/packages/exa.lnx.a/) for the installation).

- Also use AnLinux to install XFCE. Run `./start-ubuntu.sh` and `vncserver-start`. Connect AVNC to 127.0.0.1:1.

- In XFCE's Ke

[2021-11-03 18:57] garabik commented on #12
Attached - though it seems to be empty. I am also attaching /system/framework/oat/arm64/services.{art,odex,vdex}, these might be the relevant files (note I am not very familiar with Android).
[services.jar.gz](https://github.com/gujjwal00/avnc/files/7470084/services.jar.gz)
[services.art.gz](https://github.com/gujjwal00/avnc/files/7470077/services.art.gz)
[services.odex.gz](https://github.com/gujj

[2021-11-04 00:47] gujjwal00 commented on #14
Thanks for this very detailed report! I will look into it (although you have already done most the work 😀).

[2021-11-04 11:10] gujjwal00 commented on #8
v1.2.0 is available of F-Droid including support for stylus devices.

[2021-11-04 11:10] #8 closed

[2021-11-05 12:37] gujjwal00 commented on #14
It's taking more time than expected. Can you please tell me which VNC server & version you are using? Different servers seems to handle diacritics differently (TightVNC on Windows seems to work but Vino on Ubuntu is failing with AVNC).

[2021-11-06 11:19] voidbert commented on #14
`apt list --installed | grep vnc` returns `tightvncserver/focal.now 1.3.10-0ubuntu5 arm64 [installed]`

[2021-11-08 08:31] gujjwal00 commented on #14
I have got it working with TightVNC atleast (Windows + Linux). I am uploading a test APK here. Please check if it handles accents correctly for you.

[app-debug.zip](https://github.com/gujjwal00/avnc/files/7495335/app-debug.zip)

Some things you can try:
- Simple accents
- With capital letters
- Multiple accents on same character
- Invalid combinations of accents & letters
- Backspace after accent

[2021-11-10 07:57] gujjwal00 commented on #12
I have gone through these files. Most of the tools fail to de-compile the relevant methods, but whatever information I could gather seems to suggest that `PhoneWindowManager` class is *not* translating `Escape` to `Back` key. I have even downloaded the full System Image for Cosmo Communicator and de-compiled a bunch of different vdex files, hoping to locate where `Escape` is being handled, but hav

[2021-11-10 08:22] voidbert commented on #14
Hey! Sorry for delay. I've been quite busy lately. Diacritics are working very well for text editing. I can finally replace Collabora Office with full Libre Office through Termux and, somehow, it performs better. Thanks for all your help!

I tested everything you mentioned and all features seem to be working. Though great for editing text, there's a little detail missing. In a usual input method,

[2021-11-10 09:42] gujjwal00 commented on #14
Yeah, I missed this case. I will fix this, and include diacritics support in next release (probably next week).

[2021-11-10 14:36] voidbert commented on #14
Thanks for your help!

[2021-11-11 05:40] garabik commented on #12
Attaching - I pressed `A`, ESC; then reconnected and rpessed `B` and Back
button

[avnc-log3.txt](https://github.com/gujjwal00/avnc/files/7518027/avnc-log3.txt)

[2021-11-11 06:03] gujjwal00 commented on #12
These logs seems incomplete (there are no `KeyEvent` logged). There should be **a lot** more info there (all the keys you pressed, multiple stack-traces etc).

Please try getting logs using `adb logcat`.
It is also possible that the system is stripping all debug logs, and only printing warning/errors.

[2021-11-11 06:10] gujjwal00 commented on #12
For example, this is what logs look like on my emulator:
[log.txt](https://github.com/gujjwal00/avnc/files/7518153/log.txt)

[2021-11-11 11:16] garabik commented on #12
Done. There are some key events, hopefully you will be able to make something out of if. The sequence of events was Connect, press `a`, press `ESC`, reconnect, press `b`, press the Back button. [logcat.txt.gz](https://github.com/gujjwal00/avnc/files/7519969/logcat.txt.gz)

In the meantime I've got an external bluetooth keyboard, and this one behaves differently - ESC does not disconnect, but retur

[2021-11-11 17:28] gujjwal00 commented on #12
That was really helpful. Everything makes sense now. I can even follow the de-compiled services.vdex, and figure out exactly what is happening.

So, pressing `Esc` generates neither `KEYCODE_ESCAPE` nor `KEYCODE_BACK`. It generates freaking `KEYCODE_POWER`.
Then `PhoneWindowManager` (from services.vdex) intercepts this `KEYCODE_POWER` and tests a bunch of flags:
- If a call is ringing, silence it

[2021-11-11 19:07] garabik commented on #12
Actually, this makes some sense - on Cosmo, Fn+ESC is an equivalent of POWER button, it turns off the screen (and locks it and puts into a sleep mode eventually), and hoding ESC turns the power on (or brings up poweroff dialogue). Obviously, they hardwired ESC as the Power button and Fn is the answer to the multi-press action you saw. Of course, it could have been done differently/better. Well...

[2021-11-11 19:13] garabik commented on #11
I am quite happy with setting the resolution manually: `$ xrandr`, pick the desired one, then `$ xrandr --output VNC-0 --mode HORIZONTALxVERTICAL`... (I've made a script for this, of course)

[2021-11-11 22:23] pguenth commented on #11
Thank you for the clarification, this absolutely makes sense, but I am constantly requiring the keyboard and with the keyboard open the available space on the phone screen becomes relatively small in landscape mode.

Nice idea, I somehow never thought about manually setting the display size on the server side. I think this will work out for me for the moment.

[2021-11-11 22:23] #11 closed

[2021-11-12 05:00] garabik commented on #11
That works (at least for me) only if the new size is _bigger_ than the current resolution, otherwise it fails with "specified screen HxV not large enough for output VNC-0". I guess it could depend on the vnc server (currently I am using TurboVNC).

[2021-11-12 09:23] pguenth commented on #11
Works for me both ways, I am using TigerVNC on ArchLinux.

[2021-11-12 13:06] garabik commented on #11
Switching to TigerVNC, it works - though when I issue the command, my window manager (ratpoison) immediately segfaults, AVNC disconnects, and on reconnecting sometimes shows rather confused picture - something like extremely enlarged part of the screen. So I should not do it without a separate ssh connection to fix the resolution if this happens. That means I'll keep using `--mode`, this is so far

[2021-11-13 16:14] gujjwal00 commented on #12
Fixed in https://github.com/gujjwal00/avnc/commit/7400a38c36a66665a6b7ae16bc15dc4ec2fd10c7

To avoid any unexpected issues with the current key handling, I am putting this feature behind a preference
 `Settings => Input => Key Mappings => Back to Escape`, which is disabled  by default.

It will be available in the next release.

[2021-11-13 16:14] #12 closed

[2021-11-18 20:06] thechosenreader opened #15 "Key up events for modifier keys are not sent on exit"
The virtual keyboard sends the keydown and keyup events for `Shift`, `Ctrl`, and `Alt` separately.

This makes it possible for a user to send the keydown event for a modifier and then exit before sending the keyup.

On my computer (KDE neon 5.22, X server 1.20.9, kernel 5.4.0-77-generic), this results in all input events being handled as if those modifier keys were pressed. I can only fix it by ma

[2021-11-18 22:48] ExtinctDrift19 opened #17 "not found discussion"
@gujjwal00
add a discussion tab on the page avnc

[2021-11-18 23:01] gujjwal00 commented on #15
Thanks for this. I am working on a similar issue too, where mouse buttons are not released properly in some edge cases.
I will review the PR later today.

[2021-11-18 23:05] gujjwal00 commented on #17
Should be available now!

[2021-11-18 23:05] #17 closed

[2021-11-21 19:33] #15 closed

[2021-11-22 12:23] #6 closed

[2021-11-27 01:07] babaolanqiu opened #18 ""Shift" can't work in keyboard hotkey/shortcuts"
When I try to use Shift in any keyboard shortcuts, it seems to be recognized as a capital letter modifier first. For example, when I try to use "Ctrl+Shift+K" in VScode, it goes into "Ctrl+K Ctrl+Shift+". I tried another VNC viewer and Shift can perform functionally in that.

[2021-11-27 01:56] gujjwal00 commented on #18
Can you tell me which VNC server and OS you are using?

[2021-11-27 04:56] babaolanqiu commented on #18
VNC: Xvnc TigerVNC 1.8.0
OS: CentOS Linux release 7.4.1708 (Core) Linux 3.10.0-693.el7.x86_64

[2021-11-27 17:01] gujjwal00 commented on #18
Can you please try the APK i am attaching here?
[app-debug.zip](https://github.com/gujjwal00/avnc/files/7612100/app-debug.zip)

[2021-11-28 02:32] babaolanqiu commented on #18
Shift works properly now! Thanks👍( while mouse passthrough seems not configured 'cause there are two mouse cursers now)

[2021-11-28 02:58] gujjwal00 commented on #18
If you want to hide the remote cursor, you can edit the server profile and turn on 'Hide Remote Cursor' in Advanced options (OR are you having a different issue?)

[2021-11-28 03:38] babaolanqiu commented on #18
I mean when I connect to the same server, AVNC 1.2.0 and VNC viewer by RealVNC show only the local cursor, but this debug version shows two cursors.

[2021-11-28 03:55] gujjwal00 commented on #18
That's weird, I have not changed anything related to cursor recently. I will take a look.

Can you please also double check that 'Hide Remote Cursor' is indeed turned on in debug version?

[2021-11-28 04:12] babaolanqiu commented on #18
My bad, I thought it's by default turned on so I didn't check it. Now everything is cool, thanks!

[2021-11-28 04:12] #18 closed

[2021-11-28 04:18] gujjwal00 commented on #18
Great. Thanks for reporting this issuing.

[2021-11-28 10:06] Jrchintu opened #19 "Request: Add animated spinner gif while in discovery mode"
# Request
Replace loading logo in discovery tab with animated logo for indicating a background process of discovery is ongoing.

# Background
A still logo while an ongoing background process looks weired to end user, replacing loading logo with loading gif or some othere kind of visuals will look nice.

[2021-11-28 10:16] gujjwal00 commented on #19
It already *is* an animating progress bar. Is it not animating for you?

[2021-11-28 10:47] Jrchintu commented on #19
Unfortunately while enabling other acessablity service for some app i accidently pressed remove animation toggle, now after disabling that toggle the animations works perfectly, Sorry for that i will close this issue

[2021-11-28 10:47] #19 closed

[2021-11-28 10:59] gujjwal00 commented on #19
No problem! Happy to help.

[2021-11-29 18:32] zequinh4 opened #20 "Keyboard accent and AltGr"
Hi. Love your VNC app. We have a Samsung Dex community in Brazil with over 5,000 active users in a telegram group who are clamoring for writing and Portuguese support. It is possible to add accent support and the "AltGr + Q" and "AltGr + W" keys so that we can use the characters "/" and "?". Below is a picture of the keyboard in portuguese brazil ABNT2 layout that is the standard of the TabS7/6. T

[2021-11-30 18:43] gujjwal00 commented on #20
Glad you like AVNC!

Accent support was added in the latest version (see #14), pending on F-Droid. It works correctly with TightVNC server at least.

This should already work, but its possible something is missing. Can you please tell me which VNC server + OS you are using?

Also, I am attaching a debug APK here. It will log all key events received from Android. Please try to enter those character

[2021-12-01 02:22] iluvatar1 opened #21 "Make available apks?"
Hi, thanks for the app . I was testing it but I have problems with my s-pen on my tablet, the pointer in avnc does nit follow the pen. I have played with the input settings but still no fix. I am using version 1.0.1 from f-droid. But I see here that you are in version 1.3.0. But no apk is available. Could you please make then available or put the latest version in f-droid? thanks!

[2021-12-01 02:37] gujjwal00 commented on #21
Hi @iluvatar1 , S-Pen support was added in v1.2.0, which is [available on F-Droid](https://f-droid.org/packages/com.gaurav.avnc/). v1.3.0 has already been picked up by F-Droid, so it should be available soon.

I am also planning to provide APKs here on GitHub in near future.

[2021-12-01 02:47] iluvatar1 commented on #21
This is very strange. My updated f droid only shows version 1.0.1
![SmartSelect_20211130-214717_F-Droid](https://user-images.githubusercontent.com/1454267/144162784-132e4996-2885-4cce-86ab-f7a73994b5de.jpg)
should I do simething?

[2021-12-01 02:53] iluvatar1 commented on #21
Forget it, I had to update the repos. Thanks.

[2021-12-01 02:53] #21 closed

[2021-12-01 02:55] gujjwal00 commented on #21
No problem! Try out the S-Pen, and let me know if you face any issue.

[2021-12-03 13:12] syamm3 opened #22 "--------- beginning of main 12-03 21:09:08.084 30553 30553 E com.gaurav.avn: Not starting debugger since process cannot load the jdwp agent."

[2021-12-03 13:19] gujjwal00 commented on #22
Please describe **what issue**  you are facing.

[2021-12-03 14:47] #22 closed

[2021-12-03 15:18] zequinh4 commented on #20
Hello my friend. Sorry I'm late. I saw you release an update on F-droid. Thank you very much for your agility and support to our android community. It's working perfectly in ubuntuKDE (Andronix). Thank you one more time.

[2021-12-03 15:18] #20 closed

[2021-12-03 17:14] davidalben opened #23 "Fullscreen on Samsung DeX"
Finally I've found a VNC client with PT_BR keyboard full support! Thank you!

I'm using Samsung DeX and avnc doesn't enter in fullscreen mode (which is selected in configs). There's always a top bar with minimize and close buttons and the apps bar on screen bottom.

I think what I want it is called "immersive mode" in Android. So this app would be perfect to use with Andronix in PT_BR.

[2021-12-04 09:21] gujjwal00 commented on #23
Yeah, currently AVNC doesn't implement full Immersive mode Some reasons for this:
- It really messes with our layout handling, especially opening/closing of the soft keyboard.
- It interferes with Toolbar drawer because both of them use the "swipe-in from edge" to open.
- I absolutely hate that part of the Android API. Android clears Immersive Mode flags on every chance it gets, AND their implemen

[2021-12-05 12:32] davidalben commented on #23
Thank you, @gujjwal00.
I think it should be great having immersive mode as an experimental feature. I understand what you say about "swap-in from edge" conflict, but I prefer to have a complete full-screen experience and fight with DeX bottom bar (this is what I do all time when I use other remote desktop solutions).
Please, let we know if you implement this.
Thanks, again!

[2021-12-06 10:52] gujjwal00 commented on #23
Implemented in https://github.com/gujjwal00/avnc/commit/ca3e6c8b0445cef65779ff8127c345b8610a1a16.

You can use [this APK](https://github.com/gujjwal00/avnc/suites/4564571972/artifacts/122691993) to test it (you have to be logged-in to download the APK).

Enable `Settings => Experimental => Full immersive mode` to use this.

[2021-12-06 11:59] davidalben commented on #23
I've downloaded and unzipped the APK. Android installer warns me about "unknown developer", I click on "Install anyway" and it is forever "installing". Can't install this APK.

[2021-12-06 12:17] gujjwal00 commented on #23
It installs correctly on my device.

You can try installing via 'adb', if you're familiar with it.
Or maybe compile it yourself?

[2021-12-06 16:13] gujjwal00 commented on #23
Thanks for the video, @zequinh4 . I will look more into this tomorrow.

[2021-12-06 16:14] davidalben commented on #23
Sorry, I don't have a PC here to try this (only DeX).

[2021-12-07 06:39] gujjwal00 commented on #23
I have tried the tablet mode in Android emulator, and AVNC is working correctly there. I couldn't find anything related via Google.

It might be something specific to Samsung DeX. Are you using any open source app which works correctly, e.g. VLC or Firefox?

[2021-12-07 10:34] gujjwal00 commented on #23
@zequinh4 can you try this APK too: [app-debug.zip](https://github.com/gujjwal00/avnc/files/7667561/app-debug.zip)
Note: You will have to remove old debug APK.

It adds another fullscreen flag which might help.

[2021-12-07 11:20] davidalben commented on #23
Yes! APK installed and working as expected!

I've had to select FHD resolution in server setup (instead of dynamic resolution - which shows black bars at left and right in my screen). Accent keys working (it seems sometimes it fails - need to investigate when).

Thank you, @gujjwal00!

Let us know when you put this version in some marketplace (F-Droid?).

[2021-12-07 11:29] zequinh4 commented on #23
Hi. Sorry I didn't answer earlier... in Brazil it was still night. This last apk sent by you worked perfectly. Thanks again so much for supporting our community! If you need anything just get in touch! Hugs and success! Here is a video demonstrating how it works.

https://user-images.githubusercontent.com/51301335/145021361-7b0481cb-6109-4e6d-bca5-417f99f4f61f.mp4

[2021-12-07 13:16] gujjwal00 commented on #23
Nice!

I will make a release in few days, so it will probably be available on F-Droid next week. I am hoping to include #24 in the next release. If you guys want, you can review that PR and leave any suggestions, because I don't know Portuguese.

Don't worry about it :+1:.

Thank-you for the kind words! Deeply appreciate it.

[2021-12-07 14:03] zequinh4 commented on #23
Hi @gujjwal00. I found a bug that I believe didn't exist before. Double-clicking with the left mouse button gives an error in the application and it closes. Here's video demonstrating and log of the app.

https://user-images.githubusercontent.com/51301335/145042848-8cae35b8-0071-49c9-b3ae-3f1212e3edbb.mp4

https://user-images.githubusercontent.com/51301335/145042863-f95556ea-166e-44f7-a412-2b5ccc2

[2021-12-07 14:22] gujjwal00 commented on #23
Couple of questions:
- Does it happen only when you double-click on some text **or** always?
- Does your distro copies the text to clipboard on double click?

Also can you please use txt format for the logs next time? Its hard to to follow the PDF logs due to line breaks.

[2021-12-07 15:01] zequinh4 commented on #23
@gujjwal00 I did some testing and it only happens when you double left-click with text that has accents. Unaccented text and other areas do not present the problem. Follow videos demonstrating and log in txt. Hugs

[text.txt](https://github.com/gujjwal00/avnc/files/7669251/text.txt)

https://user-images.githubusercontent.com/51301335/145053015-32fc46cc-7ba6-4fa9-983a-765339a6f6eb.mp4

https://user

[2021-12-07 15:05] zequinh4 commented on #23
I also noticed that the same problem occurs when doing the key combination "Ctrl left + A" to be able to select all the text.

[2021-12-07 15:10] gujjwal00 commented on #23
Yeah, Its an encoding mismatch. Clipboard text from server is received in ISO 8859-1, but AVNC is trying to decode it as UTF-8.

I am working on a fix.

[2021-12-07 15:12] zequinh4 commented on #23
@gujjwal00 Reinstalled version available on F-droid (before adding fullscreen support). There is no such problem in it. Follow video and log.

[previusversionlog.txt](https://github.com/gujjwal00/avnc/files/7669344/previusversionlog.txt)

https://user-images.githubusercontent.com/51301335/145055011-1bc8d1a4-bd3e-4aec-aeb1-df7e65107142.mp4

[2021-12-07 15:13] zequinh4 commented on #23
Thanks again

[2021-12-07 15:17] gujjwal00 commented on #23
It also has the same problem, but in release mode JNI checks are disabled, so the app is not crashing.

[2021-12-09 16:24] gujjwal00 commented on #23
@zequinh4 you can test this APK for double-click issue: [app-debug.zip](https://github.com/gujjwal00/avnc/files/7686766/app-debug.zip).

[2021-12-09 16:45] zequinh4 commented on #23
Hello my friend @gujjwal00 . It is working perfectly in immersive mode. Thanks again for your huge dedication to the project.. A question... my knowledge of Kotlin is limited, I couldn't find something in the code about the following question: is there any time limit between pressing one key on the keyboard and another?. I say this because I noticed that when typing using accents it is necessary t

[2021-12-09 16:59] gujjwal00 commented on #23
There is no such time limit in the code. I will try to reproduce the issue on my side.

Is is possible that you are pressing the vowel key while the accent key is still down?

[2021-12-09 17:17] zequinh4 commented on #23
The normal behavior outside of AVNC and that if the vowel is pressed while the accent key is pressed is = (é). Or if held down for a while, the expected result is = (´´´´é). However, inside AVNC if I hold down the accent key and press the vowel the result is = "e", that is, without accent and if pressed longer (´´´´é). Here's a video demonstrating the difference in behavior.

Video outside AVNC (a

[2021-12-09 17:26] gujjwal00 commented on #23
Yeah, AVNC waits for accent key release before starting the composition. See #14 for some background on this, and [docs](https://github.com/gujjwal00/avnc/blob/9c6856de16c42529d45a8d3bca3c8ed8272767c4/app/src/main/java/com/gaurav/avnc/ui/vnc/KeyHandler.kt#L272) for current algorithm.

[2021-12-09 18:04] davidalben commented on #23
@zequinh4, the normal use of accent keys is to press and release the accent key then press and release the vowel key. I've never held the accent while pressing the vowel. This behavior comes from typewriter machines (which I believe to be the unique here who used them, decades ago...).

Only today, after your comment, I realized that holding the accent key while pressing the vowel key also works.

[2021-12-09 19:21] zequinh4 commented on #23
I think I expressed myself poorly. The problem is not pressing the keys together, but when pressed very closely together. When you have time do a quick typing test by your side please @gujjwal00 @davidalben

[2021-12-09 21:18] zequinh4 commented on #23
@gujjwal00  I was analyzing their codes and noticed that the accent entry only takes effect if the key is pressed twice (eg ´ + ´ = ´) or after spacce (eg ´ + space key = ´) or after vowel (eg ´ + a = á). However, smoothing the natural behavior of accentuation in different operating systems, I notice that simply pressing the accent key already "prints" the character and then the join is done (eg j

[2021-12-10 16:42] gujjwal00 commented on #23
I can reproduce the issue, but it will take some time to fix because the composition algorithm needs to be reworked.

Although It depends on the app/OS you are using, current behavior is consistent with Notepad in Windows & gedit in Ubuntu (which I test on). I have already tried sending accents immediately without waiting for next character, but VNC servers don't handle this correctly. That's why

[2021-12-11 08:18] gujjwal00 commented on #23
APK with re-implemented composition algorithm: [app-debug.zip](https://github.com/gujjwal00/avnc/files/7696661/app-debug.zip)
Hopefully this will solve both issues.

[2021-12-11 09:45] zequinh4 commented on #23
Greetings @gujjwal00 . I did some quick typing and it seems to work perfectly. Thank you very much for your commitment and availability. Thank you so much. Good weekend my friend!

[2021-12-12 16:18] gujjwal00 commented on #23
Tagged a new release: https://github.com/gujjwal00/avnc/commit/4e9a7b49c4c8dde862190899241d92e35f4b7d1d
It should be available on F-droid in couple of days.

[2021-12-12 16:18] #23 closed

[2021-12-12 20:47] davidalben commented on #23
Great news! Thank you very much, @gujjwal00!

[2021-12-15 16:15] gujjwal00 commented on #5
Hi all, I have an early version of this feature ready for testing. Please try it, and let me know if it works as expected.

Test APK: [app-test.zip](https://github.com/gujjwal00/avnc/files/7720767/app-test.zip)

**How to enable touchpad mode:**
Go to `Settings => Input => Gestures`.
Disable `Direct Touch`.
Change the action for `1 Finger Swipe`  gesture to `Move Pointer`.

**What you can test:**
L

[2021-12-15 22:54] personalizedrefrigerator opened #25 "Input/Stylus: Remote cursor doesn't follow local cursor"
## Summary
 * Unless touching the screen with the stylus,
     * The remote cursor is stationary while moving the local cursor
 * Moving the cursor with a bluetooth mouse (while not clicking) works fine

https://user-images.githubusercontent.com/46334387/146277332-96dc5f31-d574-443b-9451-613ae83d296d.mp4

[2021-12-15 23:13] personalizedrefrigerator opened #26 "Software Keyboard/Ctrl Key: Not recognised"
## Summary
 * Pressing `Ctrl+D` on a software keyboard does not send `Ctrl+D` to the remote host

https://user-images.githubusercontent.com/46334387/146279002-ecbd520d-114d-4b5e-b05c-2f1e1868400d.mp4

I'm using the Samsung Virtual Keyboard. As such, I understand if this can't easily be debugged/fixed!

## Version information
AVNC 1.4.0, tigervncserver 1.11.0

[2021-12-15 23:18] gujjwal00 commented on #25
Can you tell me the version of AVNC installed?

[2021-12-15 23:30] gujjwal00 commented on #25
and which VNC server you are using.

[2021-12-15 23:53] personalizedrefrigerator commented on #25
AVNC 1.4.0, tigervncserver 1.11.0

[2021-12-16 00:06] gujjwal00 commented on #25
I am uploading a test app here. It can record various motion events received from Android during a gesture. Please run this app and move the stylus in gray area, then paste the logs here.

[touch-tester.zip](https://github.com/gujjwal00/avnc/files/7415435/touch-tester.zip)

[2021-12-16 07:45] personalizedrefrigerator commented on #25
I think the issue is in `TouchHandler.kt`, line 71. Changing
[code]
to
[code]
fixes the issue.

[2021-12-16 07:55] personalizedrefrigerator opened #27 "Keyboard Sidebar/Swipe mapped to back: Unable to open with touch"
## Summary
 * On my device, swiping from the edge of the screen (with touch) is mapped to `back` because it has no physical back button.
 * As such, the OS consumes the swipe-from-left gesture that would otherwise open the sidebar.

## Version Information
 * AVNC 1.4.0

[2021-12-16 07:55] personalizedrefrigerator commented on #27
Closing: A two-finger swipe from the left edge of the screen also opens the sidebar.

[2021-12-16 07:55] #27 closed

[2021-12-16 07:59] personalizedrefrigerator opened #28 "[Feature Request] Option to hide local Android cursor"
## Summary
 * Currently, when an external mouse is connected, the local Android system cursor completely covers the remote cursor

## Proposed Solution
 * An option to hide the local cursor would therefore be useful!

## Alternative Solutions
 * Not making this a setting and always hiding the local cursor
   * This would make it harder to debug input issues.

## Version Information
AVNC 1.4.0

[2021-12-16 08:01] personalizedrefrigerator commented on #28
https://user-images.githubusercontent.com/46334387/146331435-0a0d4ede-e709-4d69-8814-1932804d655c.mp4

[2021-12-16 16:25] gujjwal00 commented on #25
Thank you for identifying the issue, and fixing it. I have added the fix via https://github.com/gujjwal00/avnc/commit/191d394304aa26427bc0311c714a965946be3a11. Please test it out.

[2021-12-16 17:43] gujjwal00 commented on #28
Maybe you have already tried it, but there is an option to hide the remote cursor. When editing a Server, tap on 'Advanced', and enable 'Hide Remote Cursor'. This is better for responsiveness but you loose the context-aware cursors.

I will try to implement hiding local cursor when I have some time.

[2021-12-17 00:11] personalizedrefrigerator commented on #26
[code]

Note: I see no difference between the `Ctrl+A` and the `Ctrl+Shift+A` output. The difference between the `Ctrl+A` and `A` output is the `metaState` property.

[2021-12-17 01:04] #25 closed

[2021-12-17 01:36] gujjwal00 commented on #26
Yeah, that's definitely weird. For comparison, here is the log for `Ctrl+A` using Hacker's Keyboard:
[code]

Your keyboard is not generating standalone `Ctrl`/`Shift` up/down events. And as you said, there is no indication of `Shift` being down during `Ctrl+Shift+A`.

[2021-12-17 13:32] gujjwal00 commented on #27
You can also align the toolbar to right edge in Settings.

[2021-12-17 13:44] gujjwal00 commented on #26
As this not a bug in AVNC, how do you want to proceed?

[2021-12-17 14:31] personalizedrefrigerator commented on #27
Swiping from the right edge also triggers the back action.

[2021-12-17 16:09] personalizedrefrigerator commented on #26
Here are some options:
 * Close this issue — it's not an AVNC issue
 * Look at `event.metaState` and send key events based on it if we didn't originally receive an `ACTION_DOWN` for that key.
     * `KeyHandler` is getting long. If we do this, it might make sense to first refactor `KeyHandler`. (E.g. using the decorator pattern,
[code]
).

[2021-12-17 17:05] gujjwal00 commented on #26
I should, but I have trouble saying No to other people 😊.
Can you switch to any other keyboard app (you might like them even more 😄)? If not, we can add the workaround in AVNC.

About the decorator pattern, these "snippets" are small enough for individual functions and we should be fine for a little while. Even if we split them across classes, I would want them to stay in the same file to keep the

[2021-12-17 20:03] personalizedrefrigerator commented on #26
I'll try reporting the bug to Samsung (I like the keyboard's handwriting recognition). I normally use an external keyboard, so don't encounter this issue often.

Thank you for your help!

[2021-12-17 20:03] #26 closed

[2021-12-18 03:03] #28 closed

[2021-12-21 19:06] gujjwal00 commented on #26
So... I was thinking about this (its stuck in my head now), and how complex our workaround might be. Something simple like this (in `KeyHandler`) could work:
[code]

And, if we add a pref for meta key simulation, we can simplify this further by dropping the `metaState` tracking, and simulating meta keys unconditionally, when that pref is turned on.

We can remove this workaround when Samsung fixes

[2021-12-21 21:00] personalizedrefrigerator commented on #26
I can work on it (and submit a PR when I have time)!

[2021-12-23 21:39] zequinh4 commented on #5
Greetings. Once again, thank you very much for your commitment to the community. I did the test with the samsung trackpad (keyboard cover). Single click and double click working perfectly. The movement too.

Mistake
I cannot scroll to move up or down a content.

What happens?
When you try to scroll with two fingers on the trackpad, what happens is a navigation through the elements of the screen wi

[2021-12-24 02:06] gujjwal00 opened #31 "Two-finger scrolling not working with Samsung trackpad (keyboard cover)"
Greetings @gujjwal00 . Once again, thank you very much for your commitment to the community. I did the test with the samsung trackpad (keyboard cover). Single click and double click working perfectly. The movement too.

Mistake
I cannot scroll to move up or down a content.

What happens?
When you try to scroll with two fingers on the trackpad, what happens is a navigation through the elements of t

[2021-12-24 02:13] gujjwal00 commented on #5
Hi @zequinh4 , this issue is about different modes of finger gestures, and should not affect hardware touchpad.

What you are experiencing might be a different bug, so I have opened a separate issue for it. Let's discuss it there.

[2021-12-24 02:35] gujjwal00 commented on #31
I am attaching a test app here which can record touch events received from Android. Can you please run this, perform some gestures with touchpad, and post the logs here?

[touch-tester.zip](https://github.com/gujjwal00/avnc/files/7435574/touch-tester.zip)

[2021-12-24 03:20] SaicharanKandukuri opened #32 "hardware acceleration in frame buffer"
@gujjwal00

can you use OpenGL or Vulkan to render frame buffers to remove screen tearing and all laggy stuffs

[code]

[2021-12-24 03:48] gujjwal00 commented on #32
AVNC is already using OpenGL ES for rendering.

[2021-12-24 03:58] SaicharanKandukuri commented on #32
Oh!!! ya!

60 FPS renders
✌️

[2021-12-24 03:58] #32 closed

[2021-12-24 12:26] zequinh4 commented on #31
Hi. Hope I managed to do it the right way hihihi. Merry Christmas and thank you again!

[Logs.txt](https://github.com/gujjwal00/avnc/files/7774274/Logs.txt)

[2021-12-24 12:29] zequinh4 commented on #31
@gujjwal00  Another test.

[Logs2.txt](https://github.com/gujjwal00/avnc/files/7774278/Logs2.txt)

[2021-12-24 16:42] gujjwal00 commented on #31
Thanks for the logs @zequinh4 , and Merry Christmas to you too 🎅.

I have some questions:
- What actions have you configured for `1 Finger Swipe` & `2 Finger Swipe` gestures in settings?
- Have you enabled the `Hide Remote Cursor` server option?
- Are you using the APK I posted in #5 ?

[2021-12-24 16:55] zequinh4 commented on #31
Hello again my friend @gujjwal00 :santa:

**Yes, I set it up like the image below.**

**Yes, I hid the cursor because there is always a delay.**

**I'm using this apk (app-test.zip) that you made available!** --> (https://github.com/gujjwal00/avnc/issues/5)[ nº 5](https://github.com/gujjwal00/avnc/issues/5) ?[](https://github.com/gujjwal00/avnc/issues/5)

![Screenshot_20211224-134640_AVNC](https:/

[2021-12-24 17:34] gujjwal00 commented on #31
Thank you.

So what's happening here is that 2-finger swipe is being treated as 1-finger swipe, to which you have assigned `Move Pointer` action. So the remote pointer is being moved, but as you have hidden it, its not visible.

Unfortunately, this is out of my control. If you look at the logs:
[code]

you will notice that both of these gestures are generating similar events, and `pointerCount` is

[2021-12-24 18:17] zequinh4 commented on #31
@gujjwal00  Interestingly putting "1 finger swipe" as scroll and keeping "2 finger swipe" as scroll is working perfectly. Thank you my friend!
I'm looking forward to releasing this update on F-Droid!

https://user-images.githubusercontent.com/51301335/147368429-a53fb01e-9424-4f6b-bbdb-3ff770b8d1c2.mp4
![Screenshot_20211224-151620_AVNC](https://user-images.githubusercontent.com/51301335/147368445-2

[2021-12-24 18:24] zequinh4 commented on #31
@gujjwal00
I suggest the implementation of a switch in the "input" menu so that this configuration automatically occurs for the Samsung Bookcover Keyboard. Ex: "Samsung Bookcover Keyboard". It would easily solve this compatibility issue! Hugs!

[2021-12-25 02:46] gujjwal00 commented on #31
You don't have to wait for F-Droid update. Current version there already supports setting scroll on 1-finger swipe.

Automatic setting change via hardware detection is out of scope, for now at least.

[2021-12-25 02:46] #31 closed

[2021-12-26 17:02] eshagh79 opened #33 "How do I translate AVNC?"
Hello,
I use your program and thank you for making this great software.
I would like to contribute to the translation of this program into my own language, how can I do this?
Do you use a translation service like weblate or transifex? Or I have to send the translations to this repository.
Good luck

[2021-12-26 17:36] gujjwal00 commented on #33
Hi @eshagh79 , happy to see AVNC being useful to you.

I have not setup any translation service yet. I will look into setting something up for better translation experience.

In the meantime, you can send a PR here in the repo if you're comfortable with it. I am open to whatever works best for you. Please let me know if you need help with something.

[2021-12-29 07:09] azrielgold opened #37 "Allow Alt+Tab (and other special keys) to be captured by the remote machine"
Currently, when using AVNC with an external physical keyboard, the Alt+Tab keyboard sequence is captured by the phone (client) and not by the remote machine (the VNC server).

While this behavior is desired in some cases, in other cases it gets in the way of seamless remote work. For example, when using AVNC with Samsung DeX, the Alt+Tab sequence triggers the DeX app switcher instead of the app sw

[2021-12-29 08:36] gujjwal00 commented on #37
I will look into it, but it is possible that there is no way to capture these keystrokes. AVNC itself is already forwarding all received keystrokes directly to server.

[2021-12-29 09:49] azrielgold commented on #37
Thanks for the response!

I'll note that some other apps do capture the keystrokes I mentioned when used in DeX. Both the Microsoft RDP app (https://play.google.com/store/apps/details?id=com.microsoft.rdc.androidx) and the VMware Horizon app (https://play.google.com/store/apps/details?id=com.vmware.view.client.android) capture Alt+Tab and the Windows Key. Horizon also captures Alt+Shift while RDP

[2021-12-29 16:55] gujjwal00 commented on #37
Hi @azrielgold , can you please test this APK: [app-debug.zip](https://github.com/gujjwal00/avnc/files/7789847/app-debug.zip)

Please try all keystrokes you mentioned in issue description.
Also, grab the Logs from `Settings => Tools => Debugging`, and paste them here.

[2021-12-29 18:08] zequinh4 commented on #37
Hello my friend @gujjwal00. Excuse the intrusion @azrielgold , however it is a subject that also interests me. I noticed that the application was translated to Portuguese (most of it) and that it added the possibility to hide the android cursor itself. I loved it!. Follow the logs as requested. When we press for example "Alt+Tab" the command is carried out in Dex and not in AVNC. Hugs!
[log.txt](h

[2021-12-29 18:59] gujjwal00 commented on #37
@zequinh4 Please try this APK: [app-debug.zip](https://github.com/gujjwal00/avnc/files/7790230/app-debug.zip)

And please paste the logs here (even if meta keys are captured correctly).

[2021-12-29 19:12] zequinh4 commented on #37
Apparently "Alt + Tab" works perfectly. CMD ("Windows") key too. The txt file follows.

[log (1).txt](https://github.com/gujjwal00/avnc/files/7790275/log.1.txt)

[2021-12-29 19:18] zequinh4 commented on #37
@gujjwal00
Fixing the CMD ("Windows") key does not work. It does not dictate function to AVNC or the android system.

https://user-images.githubusercontent.com/51301335/147696243-acf16039-072e-457d-9231-3219bfb021c7.mp4

[2021-12-29 20:19] azrielgold commented on #37
Attached is the log file you asked for.

1. I tried the Alt-Tab key sequence which did not work (it triggered the DeX app switcher rather than the Linux one in the VNC server).
2. I also pressed the WinKey which triggered the DeX app screen.
3. Finally, I pressed the Alt+Shift keystroke and it triggered the Android/Samsung keyboard language switcher but that sequence was also sent to the server so

[2021-12-29 22:55] zequinh4 commented on #37
Hello my friend @azrielgold . I test using this apk. For me it worked ALT-TAB without problems. However, WinKey(CMD) does not work!

[2021-12-30 00:52] gujjwal00 commented on #37
@azrielgold , as @zequinh4 mentioned, please use the 2nd APK.

[2021-12-30 01:58] gujjwal00 commented on #37
Ignore my previous comment.

Can both of you please test this APK: [app-debug.zip](https://github.com/gujjwal00/avnc/files/7791215/app-debug.zip)

It should fix the Windows/CMD key issue.

[2021-12-30 05:53] azrielgold commented on #37
@gujjwal00 I tried the new APK and it's great.
Now, all the keystrokes that I am testing work perfectly, as expected.
Alt+Tab, the Windows key alone, WinKey+E (or WinKey+<any other key> are all captured by the remote server and not by the local client, exactly as it should be. Thanks so much!

Would you like me to send you the log with this apk too, or is there no need for that?

[2021-12-30 06:08] gujjwal00 commented on #37
No need for the logs now, previous logs were enough.

[2021-12-30 06:16] gujjwal00 commented on #33
Weblate project for AVNC is now live & approved: https://hosted.weblate.org/engage/avnc/

[2021-12-30 06:16] #33 closed

[2021-12-30 11:03] #37 closed

[2021-12-30 11:10] gujjwal00 commented on #37
Fixed in https://github.com/gujjwal00/avnc/commit/c5b4b2b720775039df2dc1e7fa7802cc1ea7d27a.

Please note that these keys will be captured only when:
- Samsung DeX is supported
- DeX mode is currently active
- VNC session is active

[2022-01-02 22:44] zequinh4 opened #39 "Translation error to Portuguese Brazil"
Hello my friend @gujjwal00 . I've already made some suggestions on the translation site, but I don't know how it works. Here are some suggestions for errors and incomplete translations! I'm glad to be able to help with your magnificent app.

![Screenshot_20220102-193448_AVNC](https://user-images.githubusercontent.com/51301335/147891237-0646a28f-3f80-4e44-a550-cce074d6d3c9.jpg)

Follow System Theme

[2022-01-03 02:55] gujjwal00 commented on #39
Thanks @zequinh4. Updated in https://github.com/gujjwal00/avnc/commit/fd2314f0044af3db7a975f67c729b7094677b414

You should be logged into Weblate (you can login via GitHub), to commit translations. Anonymous users can only submit suggestions. You will also get proper attribution if you are logged in. Once you update translations there, I will merge them here after some time.

Or, you can directly

[2022-01-03 02:55] #39 closed

[2022-01-05 15:38] sudomain opened #42 "Clarification of zoom in/out numbers?"
Hello,

I'm trying to grasp what the numbers repesent for the min/max zoom. Is it a percentage of the geometry of the vnc server? Setting both min and max zoom to 100% seems to disable zooming as expected, but it leaves about 50% (I'm eyeballing this) of my screen filled with unused black pixels.

As potential feature requests:
1. could both of the zoom settings be made to accept a wider range of

[2022-01-05 16:47] gujjwal00 commented on #42
Yes, the numbers for min/max zoom represents percentage (maybe adding the `%` symbol would clarify it further). When you connect, you always start at 100% zoom, irrespective of the screen size (Android's or remote's).

Let me explain it a bit more. At 100% zoom, AVNC tries to achieve following goals:
- Remote display is *completely* visible
- Aspect ratio of remote display is maintained
- Maximum

[2022-01-05 17:17] sudomain commented on #42
Sorry for my weird config/edge case lol. Thank you for the detailed response.

Yes please!

On a related note to screen geometry, I also noticed that avnc's full screen setting only hides the notification tray but not the navigation bar (Back, Home, Recent buttons) which in turn would lower my useable vertical area at 100% zoom. Could full screen be made to hide the nav bar also please? If not, I

[2022-01-05 17:31] gujjwal00 commented on #42
Please turn on `Settings => Experimental => Full immersive mode`. This is marked as experimental, because it interferes with toolbar/sidebar drawer when both of them are on same edge, and I don't have a clean solution to this interference yet.

Appreciate it very much.

Will try to solve the zooming issue tomorrow.

[2022-01-05 18:27] sudomain opened #43 "Request: differentiate/increase tolerance between "Long Press" and "Drag (Long Press then Swipe)""
Hello again,

Under the input settings, I'm trying to use:
1. "Long Press" to right click and
2. "Drag (Long Press then Swipe)" to drag remote content.

Unfortunately, changing the Drag setting causes
me to be unable to perform a long press. I'm guessing that when I attempt a long press, my fingers can't stay still long enough so Drag gets triggered instead of just Long Press.

Can there please be

[2022-01-06 01:23] gujjwal00 commented on #43
Please see #6 . (precisely https://github.com/gujjwal00/avnc/issues/6#issuecomment-938681390).
Improving this experience is on my todo list, but for now I want to finish #5 before doing anything else touch related.

[2022-01-06 02:06] sudomain commented on #43
Per your comment in #6, I'm unable to get a regular long press to trigger no matter how still I try to keep my finger (if drag is enabled). I even tried with a stylus. To the best of my knowledge, I don't have particularly shaky hands lol.

I can get by with using a double tap for right click. Thanks again for the app.

[2022-01-06 05:48] gujjwal00 commented on #42
@sudomain Can you please try this APK: [app-debug.zip](https://github.com/gujjwal00/avnc/files/7819727/app-debug.zip)

[2022-01-06 16:12] #42 closed

[2022-01-07 14:02] sudomain commented on #42
Hey is the code in that apk going into the Fdroid build or was this one those `generously build a niche apk for a niche usecase` situations? Thanks either way

[2022-01-07 14:36] gujjwal00 commented on #42
Yeah, it was a quick fix. Here is the patch, if you want to try it yourself:
[code]
It literally has the commit message `tmp` 😄.

Although the fix is simple, I just want to add some [tests](https://github.com/gujjwal00/avnc/blob/master/app/src/test/java/com/gaurav/avnc/ui/FrameStateTest.kt), but I was busy with some string cleanup work. It will definitely be included in the next release.

[2022-01-07 14:49] gujjwal00 commented on #42
And BTW, the APK I posted was a debug build, so it will slower compared to a release build.

[2022-01-09 08:47] gujjwal00 commented on #43
@sudomain please test this APK:  [app-debug.zip](https://github.com/gujjwal00/avnc/files/7834706/app-debug.zip)

It should reliably differentiate between long press (touch-hold-release), and drag (touch-hold-swipe).

[2022-01-09 15:59] sudomain commented on #43
Thank you! It works great and I can do both gestures now. Is the "touch slope" something that the user could configure? With this apk I notice a slight XY inaccuracy between where I'm trying to start a drag and where AVNC actually starts a drag action. I think it's somewhere in the neighborhood of 10-20 pixels based on my desktop icon setting of 48x48px. If it's not possible, I can live with "lead

[2022-01-09 17:21] gujjwal00 commented on #43
Touch slope is automatically determined by Android, based on things like screen density and device configuration.

I think the issue is that drag was started from the point where swipe was first detected, and not from the point where finger initially went down. But by that point, finger had already moved more than touch slop, so that small distance was effectively lost.

I am attaching a new APK:

[2022-01-09 22:30] sudomain commented on #43
Everything is perfect now. Thank you for your responsiveness and all your work!

[2022-01-09 22:30] #43 closed

[2022-01-10 14:21] gujjwal00 commented on #5
I have implemented trackpad/touchpad mode. It should be available on F-Droid in 2-3 days.

To activate it, disable `Settings => Input => Gestures => Direct touch`.
When active, `One-finger swipe` gesture-preference will be disabled, and hard-coded to move the pointer.

Commit: https://github.com/gujjwal00/avnc/commit/c29b8431f3d489e9de2e3434bc64fb7399bf9b6d.
Test APK [CI build]: https://github.com

[2022-01-10 14:21] #5 closed

[2022-01-11 04:39] eshagh79 opened #46 "Remove additional comments in Persian"
Hello
There is no need for this comment in Persian anymore. Because you have modified the strings, no longer need to use directional control characters.
https://github.com/gujjwal00/avnc/blob/ef107b1fd3078143451ba6b3c221e76905354e02/app/src/main/res/values-fa/strings.xml#L80
Please delete it the next time you import these new translations from the weblate.

[2022-01-11 06:09] gujjwal00 commented on #46
Thanks, will do.

Side note: Due to email difference with Weblate, your contributions are not fully reflected on GitHub.

[2022-01-16 15:59] #46 closed

[2022-01-19 04:44] user8446 opened #48 "Donation link"
Hello,

Thank you for the great VNC client app... I love the VNC/SSH integration.  I'm using it with TightVNC & OpenSSH.

I looked for a donation link on F-Droid, the app itself, and here on GitHub and couldn't find a donation link. I always try to "buy a coffee" as a thank you and to help development.

[2022-01-19 08:01] gujjwal00 commented on #48
I am glad you like AVNC. And thank you for your support & consideration, really appreciate it.

I would kindly invite you to first consider supporting the libraries used by AVNC. Although I have put a lot of effort in AVNC, I still think it would not have the same features and performance without them. I can recommend the following libraries:

- https://github.com/LibVNC/libvncserver
- https://git

[2022-01-19 16:57] user8446 commented on #48
I just that by having a donation link it gives users a way to either say thanks or to help if they are unable to contribute code.
Thanks for pointing out those libs, I just sent them both coffee as well!

[2022-01-21 20:11] user8446 opened #49 "Intermittent remote cursor"
Hello,

I have noticed that the remote cursor disappears and reappears randomly when using the client. If the mouse is moved on the remote machine, the cursor appears all the time as normal.

However, even though the remote cursor disappears, the touch points are still correct and I can see on the remote machine monitor that it is actually moving correctly.

I have tried enabling mouse keys and I'

[2022-01-22 02:23] gujjwal00 commented on #49
Thanks @user8446.
I can reproduce the issue. Will look into it.

[2022-01-22 11:42] gujjwal00 commented on #49
Hi @user8446 , this looks like an issue with TigerVNC.

I tried MultiVNC & androidVNC (10+ year old), and the issue can be reproduced with both of them. I also tried bVNC but it exhibits the issue slightly differently: sometimes pointer is completely invisible until moved on the remote machine, and sometimes it hides after some use (happened couple of times).

Can you please check if any other app

[2022-01-22 18:12] user8446 commented on #49
I am actually using [TightVNC](https://www.tightvnc.com/), not TigerVNC.

I could not reproduce the issue with [MutiVNC](https://f-droid.org/en/packages/com.coboltforge.dontmind.multivnc/). It would sometimes disappear only while moving but that's not a problem because of the purple highlight circle showing and then take a second for it to reappear but it always reappeared.

[2022-01-22 18:33] gujjwal00 commented on #49
Sorry, mistyped. I was referring  to TightVNC too.

I can reliably reproduce it with MultiVNC. For me it is more frequent when cursor is moved quickly and you are on Desktop (i.e. no app is open).

[2022-01-22 18:46] user8446 commented on #49
Hi, I just tried bVNC and couldn't recreate on that app as well.

To eliminate a settings issue, I have "Hide remote pointer" off in the app server settings and "Hide local (Android) pointer" off in Settings > Input

With those settings, I should at least have a full time local pointer which would be a workaround but it never appears (Moto g7 / Android 10)

Anything else to try to debug?

[2022-01-22 19:04] gujjwal00 commented on #49
Thanks, I am using the same settings. I will try to pinpoint the issue tomorrow.

If you can, please try:
- androidVNC from F-Droid
- a different VNC server, maybe UltraVNC?

[2022-01-22 19:37] user8446 commented on #49
I did try androidVNC and I could recreate the issue. The only difference is the local android cursor was always visible.

[2022-01-23 14:21] gujjwal00 commented on #49
I did some testing, and its definitely an issue with TightVNC.

**Reproduction:**
Best way I found to trigger this is to *quickly* move the cursor on remote server. Try to 'fling' the cursor, like you fling a list on Android. If you move it fast enough, the cursor should disappear. You don't have to do anything from the client to trigger this.

Cursor will stay disappeared until something changes

[2022-01-23 17:12] user8446 commented on #49
I went ahead and switched to UltraVNC server permanently which eliminates the issue.

Just for future info, I did find https://github.com/novnc/noVNC/issues/1419 which describes the same issue. In the `[link](https://github.com/novnc/noVNC/blob/master/core/rfb.js#L183)` in that post, the code comment describes how TightVNC handles the cursor.

Thank you for helping research!

[2022-01-27 20:27] user8446 commented on #48
Ok I just tried to donate via PayPal through Liberapay and received:

[code]

I'll try again later, maybe it's not fully active yet.

[2022-01-28 02:28] gujjwal00 commented on #48
It looks like I will have to complete full KYC with Paypal and upgrade to business account, before I can accept international payments in India. I will let you know when its done.

[2022-01-28 02:46] user8446 commented on #48
You can also just link your direct PayPal and then people can send direct without you having to upgrade to a business account.

[2022-01-28 02:59] gujjwal00 commented on #48
Ok, here is the link: https://paypal.me/gujjwal00
(Same username & profile pic as GitHub)

[2022-01-28 03:12] user8446 commented on #48
PayPal errors out with: Sorry, this recipient can’t accept payments right now.

Looks like they are making it difficult to send you those Kingfishers :)

[2022-01-28 03:47] gujjwal00 commented on #48
Yeah, I had a feeling they won't allow it.

Its because of regulations here. I have been reading on this lately, and it looks like OSS donations were not given much (if any) thought. You have to either export goods/services as a business, or register as charitable organization with government under FCRA. FCRA requires dedicated bank account & reporting, and registration will probably cost more tha

[2022-01-28 04:17] user8446 commented on #48
Maybe check out Open Collective & Ko-fi as well

[2022-01-28 09:04] gujjwal00 commented on #48
Ok, done with upgrade to Paypal business account. I have also opened an Stripe account and connected it to Liberapay. Stripe seems to have lower transaction fee, but there are some bug reports about payment failure to Indian Stripe accounts on Liberapay. Hopefully one of them will work.

[2022-01-28 14:27] gujjwal00 commented on #48
Thanks @user8446 , really appreciate it. And yes, the coffee will definitely taste sweeter :)
I will post the link on both places.

[2022-01-28 15:22] #48 closed

[2022-01-30 13:03] gujjwal00 commented on #49
I have found a really nice way to support client-side cursor rendering (using [glTexSubImage2D](https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glTexSubImage2D.xml)). It should improve cursor responsiveness, and as a side benefit, would workaround the bug in TightVNC. I will keep this issue open until then.

[2022-01-30 19:03] user8446 opened #51 "Fingerprint unlock"
Hi @gujjwal00 ,

Question: Since fingerprint auth is already a part of the app for server export, is it on the roadmap to use fingerprint auth for opening the app?

[2022-01-30 19:04] user8446 commented on #49
Nice!

[2022-01-31 08:36] gujjwal00 commented on #51
I haven't thought about it, but it can be implemented.
From my personal experience, app-locks can be really frustrating, especially on Android. Most apps will prompt whenever they comes to foreground, because "app-opening" is not a clear-cut event on Android (e.g. you can directly launch a `vnc://` URL with AVNC, entirely bypassing Home page/activity). This frustration may discourage users from us

[2022-01-31 15:07] user8446 commented on #51
Hi,

#4 is one I'm concerned with. I use private keys which are saved so one click and a whole system is completely exposed.

Personally I haven't had any issues with other apps fingerprint auth such as [Aegis](https://f-droid.org/en/packages/com.beemdevelopment.aegis/), [KeePass2Android](https://github.com/PhilippC/keepass2android), and commercial banking and money apps such as PayPal & Venmo.

[2022-02-02 08:40] linsui opened #52 "F-Droid build failed"
[code]

Could you please take a look? Thanks!

[2022-02-02 08:44] gujjwal00 commented on #52
Thanks @linsui ,
These extra strings have already been removed on Weblate. I will tag a new release as soon as Possible.

[2022-02-02 08:49] linsui commented on #52
Thanks!

[2022-02-02 11:09] gujjwal00 commented on #52
Hi @linsui , Is it OK to overwrite the 1.7.0 tag (there is no new commit since then), or should I create a new release 1.7.1?

[2022-02-02 11:35] linsui commented on #52
It's OK to overwrite 1.7.0. Anyway we builds it against the commit hash so no need to change the tag. I can just point it to the new commit. Thanks!

[2022-02-02 13:19] gujjwal00 commented on #52
I have fixed the issue.
 New release: https://github.com/gujjwal00/avnc/commit/921601c05bf8bfae483e35bf81162979a01aced0
Gitlab MR: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/10532

[2022-02-02 13:36] linsui commented on #52
Thanks!

[2022-02-02 13:36] #52 closed

[2022-02-05 04:57] gujjwal00 commented on #51
Hi @user8446 , due to some personal issues, I may not get much free time this month. So this feature will have to wait a bit.

[2022-02-05 09:42] chiragverma11 opened #53 "Right Click acts as back button"
When I right click using physical mouse after running the server it acts as **back button** not as **right click** , Please solve this issue it will help me a lot.

[2022-02-05 11:10] gujjwal00 commented on #53
Hi @chiragverma11, can you please run following APK: [touch-tester.zip](https://github.com/gujjwal00/avnc/files/8007866/touch-tester.zip)
Run the app, perform some gestures with your mouse, and copy-paste the logs here. This will help me understand how mouse events are reported by your device.

Also, is `Mouse passthrough` enabled in AVNC  input settings?

[2022-02-05 12:20] chiragverma11 commented on #53
Yes, Mouse passthrough is enabled.

My device does not let me perform right click gesture (when I do right click the app exits and logs cleared) fortunately right click does not exits app if I press meta button, So I have to press meta button to perform right click test.
Here are logs:

<details>
<summary>Event Log</summary>
<p>

[code]

</p>
</details>

[2022-02-05 13:20] gujjwal00 commented on #53
Your device is not generating right-click properly. For Right Click, `buttonState=BUTTON_BACK` is set. It should be `buttonState=BUTTON_SECONDARY` (and there should be events with `action=ACTION_BUTTON_PRESS` for right click, but those may be missing because meta key is down). That's why the app exits.

Some questions:
1. Does this happen with other apps too?
2. Do you have a second mouse you can

[2022-02-05 13:33] chiragverma11 commented on #53
1. It doesn't happen with other VNC Viewers.
2. Yes I have tested with my secondary mouse but it is same.
3. My mouse doesn't have button re-mapping feature.

In general, right click acts as back button in android but some VNC Viewers (like VNC Viewer by RealVNC) works fine with right click.

[2022-02-05 13:51] user8446 commented on #51
No problem at all. I hope all is well.

[2022-02-05 14:09] gujjwal00 commented on #51
Thanks for understanding. Yes, all is well healthwise, just some other issues need immediate attention.

[2022-02-05 14:12] gujjwal00 commented on #53
Second mouse having the same issue suggests that this is happening in Android itself. Its possible other viewers have implemented a workaround. I will try to log persistence in Touch Tester.

[2022-02-05 16:14] gujjwal00 commented on #53
Please record right-click gesture using this APK: [touch-tester.zip](https://github.com/gujjwal00/avnc/files/8008338/touch-tester.zip)
When tester app exits, simply reopen  & copy the logs.

[2022-02-05 16:54] chiragverma11 commented on #53
Here are logs after re-testing:

<details>
<summary>Event Log</summary>
<p>

[code]

</p>
</details>

[2022-02-05 17:17] gujjwal00 commented on #53
New events are similar to previous ones. Honestly, I am out of ideas as to why this is happening. Even a workaround seems infeasible with these events.

I will try to look around some more tomorrow. Can you please tell me about your device & Android version?

[2022-02-05 17:21] chiragverma11 commented on #53
Device: Realme 7
Android Version: 11

[2022-02-05 21:25] danielphan2003 opened #54 "Not working with wayvnc"
I'm currently using wayvnc (latest commit) with sway (v1.6-ish), and I can only access it via bVNC, but not AVNC.

Edit: note that I'm also using Tailscale to access it remotely, though I don't think that connecting via a VPN like this would cause any issue.

[2022-02-06 00:49] zequinh4 opened #55 "Translations in Portuguese Brazil"
Hello my friend @gujjwal00 . Sorry to message you here. I still don't quite understand how translations work. Below are some translations of the new content added. Hugs.

![Screenshot_20220205-212125_AVNC](https://user-images.githubusercontent.com/51301335/152663561-0378b17c-3674-4fbc-a0e3-2efab88126ba.jpg)

Default Security = Segurança Padrão
None = Nenhuma

![Screenshot_20220205-212138_AVNC](htt

[2022-02-06 01:07] zequinh4 opened #56 "Is this a bug?"
Hello again my friend @gujjwal00 . I was testing the function of controlling the cursor via touch, however, I could not scroll the content using two fingers. Regardless of the relationship setting, the two fingers zoom in or out of the remote server area. Follow the video demonstrating. Hugs

https://user-images.githubusercontent.com/51301335/152664257-9ddb02d8-ce30-44a7-b131-704a70bae28e.mp4

[2022-02-06 02:58] chiragverma11 commented on #53
I have tested this in another device but the logs were same as previous.

<details>
<summary>Event Log</summary>
<p>

[code]

</p>
</details>

[2022-02-06 03:33] gujjwal00 commented on #54
Can you please copy the logs from **Settings -> Tools -> Logs**, and paste them here?

Try to connect once more before copying the logs, so that the error is visible in logs.

Connecting via VPN should not cause any problem.

[2022-02-06 03:33] gujjwal00 commented on #55
Thanks @zequinh4 .

[2022-02-06 03:34] gujjwal00 commented on #56
I will take a look.

[2022-02-06 04:03] danielphan2003 commented on #54
Sure, here it is:
[code]

[2022-02-06 04:39] gujjwal00 commented on #54
The security type `264` used by wayvnc (it uses x509 certificates) is not currently supported by AVNC.

You could enable alternative security types in wayvnc (e.g. username & password), if possible.

You can also try disabling authentication in wayvnc configuration, and use SSH tunnel for securing the connection.

[2022-02-06 13:52] danielphan2003 commented on #54
Well, since I don't open port 5901 to the public and use an encrypted VPN instead, disabling auth in wayvnc could work since Tailscale already handles the auth part. I will try it out later.

[2022-02-07 00:28] danielphan2003 commented on #54
Can confirm it works on wayvnc without auth.

[2022-02-07 00:28] #54 closed

[2022-02-08 17:00] Mederim opened #57 "Support for Crypto & Auth for wayvnc"
I tried to connect [wayvnc](https://github.com/any1/wayvnc) with auth enable and it cant connect with wayvnc but other clients like bvnc can do. Hera a list of compatibility clients with [wayvnc/neatvnc ](https://github.com/any1/neatvnc#client-compatibility), and you can see how auth works in this vnc server in [here](https://github.com/any1/wayvnc#encryption--authentication)

[2022-02-08 17:28] gujjwal00 commented on #57
Please see #54

[2022-02-08 21:33] Mederim commented on #57
Yeah it worked without auth, is just a suggestion to enable this security type by wayvnc.

[2022-02-12 08:14] gujjwal00 commented on #53
I have found a device which reproduces this issue. Hopefully, a workaround can be implemented.

[2022-02-13 16:03] gujjwal00 commented on #53
Fixed in https://github.com/gujjwal00/avnc/commit/8c7f3b07bc6768cbfabed4dee83dd4f194ab818f.
This will be available in next release.
If you want, you can use the following APK until then: [avnc-ci](https://github.com/gujjwal00/avnc/suites/5287692706/artifacts/163804569)

[2022-02-13 16:03] #53 closed

[2022-02-13 16:24] gujjwal00 commented on #56
Hi @zequinh4, sorry for late reply.
I am unable to reproduce the issue. For me, two-finger swipe will scroll remote content irrespective of Direct Touch mode.

In the demo you posted, there is "nothing to scroll" at browser start page, so even if AVNC sent scroll events, those will not have any effect. Can you please try with a website (like GitHub), or a large text file?

Tip: If your screen is l

[2022-02-13 17:20] zequinh4 commented on #55
Hello my friend. Yes the translation of Fullscreen is "Tela Cheia"

[2022-02-13 22:49] zequinh4 commented on #56
Hello again @gujjwal00 . It worked by changing the Minimum Zoom & Maximum Zoom to 100%. Thanks!

[2022-02-13 22:49] #56 closed

[2022-02-16 17:34] Anonymous2716 opened #58 "(Enhancement) (feature request) Move screen as cursor goes."
Nice interface , clear resulation and smoothness a combination in my opinion its better than other vnc client apps. But in zoomed screen as i move the cursor the screen doesn't move (as it does in realvnc app).  Guess its under development .Expect the feature in near future.

[2022-02-16 17:59] gujjwal00 commented on #58
Yeah, touchpad mode was implemented recently so there is still room for improvement. I will try to implement this feature, but it probably won't happen this month.

[2022-03-04 03:23] seancrowe opened #62 "Copy/Paste clipboard only works 1 way Linux to Android"
On bVNC, I can copy and paste bidirectionally from client (Android 12) and host (Debian 10).

Om AVNC, I can copy only from host (Debian 10) to client (Android 12). Sometimes, rarely, it will work both ways for just an instant.

Setup:
Debian 10 running on proot on top of termux on Android 12 with tigervnc 1.9.0

Steps to reproduce
(I haven't tested outside of proot)

1. Install Termux from F-Droi

[2022-03-04 12:28] gujjwal00 commented on #62
Thanks for the detailed report @seancrowe.

Ideally, it should work both ways. But there were some changes in Android 12 related to clipboard access, and those might be the issue here. I did some limited testing only with an emulator.

I will take a closer look.

[2022-03-07 03:38] personalizedrefrigerator opened #63 "Stylus: Pointerdown point not included in stroke"
Currently, when using a stylus, the `pointerdown` first point is not included in the stroke. This makes it difficult to use drawing apps on the host machine.

![Stroke start is offset from the expected](https://user-images.githubusercontent.com/46334387/156963127-67c860b1-736e-4f23-9cf4-12448e33ae52.png)

# Environment
 * AVNC Latest (as of Mar 6) via FDroid
 * Android 11, VNCing into GNOME 40/PoP

[2022-03-07 05:11] Yonle opened #64 "Suggestion: Make viewer follow where mouse go"
While zooming, The viewer does not follow where the cursor go. So this feature may be good to be added.

[2022-03-07 11:01] gujjwal00 commented on #64
Please see #58 .

[2022-03-07 16:16] gujjwal00 commented on #63
Thanks, I will take a look.

[2022-03-07 17:00] gujjwal00 commented on #63
This is similar to the issue described here: https://github.com/gujjwal00/avnc/issues/43#issuecomment-1008324687. I have pushed a quick fix:  https://github.com/gujjwal00/avnc/commit/388ccc8176c163b79d0f206c570e1b7186e1d17c, [CI Apk](https://github.com/gujjwal00/avnc/issues/43#issuecomment-1008324687).

1/2 finger swipe would also be affected by this, so I will look more into generalizing the solu

[2022-03-07 17:01] gujjwal00 commented on #63
Please let me know if it works for you.

[2022-03-07 22:08] personalizedrefrigerator commented on #63
Thank you for fixing this so quickly! I will probably test it out later today.

[2022-03-08 20:34] thiswillbeyourgithub opened #65 "remote content scrolling is too sensitive for me"
Hi,

I have been using your great (!) app to highlight my pdf directly on my phone.

The only issue I noticed so far is that the remote content scrolling is *super* sensitive.

Could you consider either toning it down or making it user adjustable? If not, do you know of any workaround?

Anyway thanks a lot for this app :)

[2022-03-09 02:30] gujjwal00 commented on #65
Yes, a preference can be added for sensitivity. Just give me some time.

[2022-03-09 04:44] personalizedrefrigerator commented on #63
It looks like the link to the CI Apk is wrong.

[2022-03-09 04:52] gujjwal00 commented on #63
Oops, copy-paste went wrong.

You can download the artifact from GitHub Actions:   https://github.com/gujjwal00/avnc/actions/runs/1946747867

[2022-03-09 04:54] personalizedrefrigerator commented on #63
It works for me!

[2022-03-09 18:27] thiswillbeyourgithub opened #66 "[enhancement] panning should respect zoom level"
Hi,

When using your app, I sometimes have to click the cross at the top right corner of the remote app window to close it.

I sat minimum zoom to 70% and was under the impression that the best way to close an app with my fat fingers would be to zoom in, then pan to the corner until the corner of the window is roughly in the middle of the screen, making it easier to reach.

But with the current im

[2022-03-09 18:45] thiswillbeyourgithub commented on #54
Reporting that I can't connect to my server using a VPN but I can if I disable it. I get no error message, just the "circular arrow" that doesn't move for up to a minute.
When I turn the VPN off it works instantly.

The option "disable connection without the VPN" being turned off in both cases.
I am using ssh tunneling also.

What kind of information might be useful from me to troubleshoot the iss

[2022-03-10 03:18] gujjwal00 commented on #54
Hi @thiswillbeyourgithub , after connection failure, you can copy the logs from **Settings ➡ Tools ➡ Logs** and paste them here.

PS: If your problem is not specific to wayvnc, its better to open a separate issue.

[2022-03-10 03:34] gujjwal00 commented on #66
Min/Max zoom controls *how much* you can zoom in/out (e.g. I always set minimum zoom to 100% because I usually don't need smaller frame). It doesn't affect the usable area of the screen.

I would suggest you to try disabling **Direct Touch**, and use 1 finger swipe for precise control.

[2022-03-10 17:05] thiswillbeyourgithub commented on #66
I think I don't see any use case where it would be useful to zoom out in that case. However, Direct touch is a must have for my use case.

Thanks for the answer.

[2022-03-10 17:06] thiswillbeyourgithub opened #67 "[enhancement] use volume button to toggle keyboard etc"
Hi,

Just figured it might be a good new feature, in case you had not thought of it.

Have a nice day!

[2022-03-11 16:27] gujjwal00 commented on #66
Yeah, I don't use zoom less then 100%  either. I originally added it because other clients I used had this feature, and since then I have seen some users use this feature when their device is in portrait orientation.

So, can I close this issue?

[2022-03-11 17:07] gujjwal00 commented on #65
Implemented in https://github.com/gujjwal00/avnc/commit/127d1325a9d41e019a58857dce08f9b48db5fe81.
Test APK: https://github.com/gujjwal00/avnc/suites/5626840231/artifacts/183368768

@thiswillbeyourgithub please test the APK linked above. You can modify the sensitivity in `Settings -> Input -> Gestures`.

[2022-03-11 18:03] gujjwal00 commented on #62
I can't find a real Android 12 device for now. But I tried again with emulator and copy-past works reliably in both directions.

Just to give more context, this is how clipboard access works in AVNC:
- Host -> Client: When text is received from host, it is immediately placed on Android's clipboard.
- Client -> Host: Because AVNC will  be in background when you copy some text in some other app, It

[2022-03-11 23:30] Android-X13 opened #68 "VNC URI scheme not supported?"
Hi, based on what I've read in [RFC 7869](https://datatracker.ietf.org/doc/html/rfc7869) I thought I could run something like this (via activity manager), but the app doesn't recognize the connection name and instead displays a login window:

`am start -d vnc://host:port?ConnectionName=name`

Supplying the username and password also doesn't work as it still asks for login information:

`am start -

[2022-03-12 01:15] gujjwal00 commented on #68
VNC URIs are supported, so it might be a bug. Let me check.

[2022-03-12 10:22] thiswillbeyourgithub commented on #66
Your call! I stil think this feature would be useful and desirable to a lot of people and that it is not expected behavior.

But your app is already awesome and well polished, plus I made way too many issues recently and I certainly don't want to make this app feel like a burden to you :)

Your call, thank you already.

[2022-03-12 10:57] thiswillbeyourgithub commented on #65
Hi!

Thanks a lot for the quick response :)

I just tested it and unfortunately I'm not sure it makes that big of a difference. I think the issue is not actually "speed" but rather a too high "acceleration" if you get what I mean.

In other words, dragging across the screen just an inch makes you end up uncontrollably far from the starting point.

[2022-03-12 11:09] gujjwal00 commented on #65
In that case, you will have to change the host/server settings.  AVNC simply generates Mouse Wheel Up/Down/Left/Right events. How much content is scrolled for a single event depends on the host.

If I recall correctly, both Windows & Linux distros have settings to control this behavior.

[2022-03-12 17:18] gujjwal00 commented on #68
So the issue here is not with AVNC, but with shell processing. As you probably already know, `&` is a special character used for combining commands.  So `am start -d vnc://host:port?VncUsername=user&VncPassword=pass` is processed by shell as `am start -d vnc://host:port?VncUsername=user` and `VncPassword=pass`  separately. And because password is missing,  AVNC prompts for credentials. You can run

[2022-03-12 19:43] Android-X13 commented on #68
You are of course right about the `&` character and the reason it wasn't working. I felt like a noob for a moment after reading your post. :grin:

After some testing I now see that parameters like `ChannelType`, `SshUsername`, `SshPassword`, etc, are also supported by your app in the provided VNC URI which is great.

The reason I wanted to use `ConnectionName` is because I didn't want to hardcode

[2022-03-13 12:34] thiswillbeyourgithub commented on #65
Thanks a lot!

[2022-03-13 12:34] #65 closed

[2022-03-13 13:48] gujjwal00 commented on #65
So I will remove the preference then (unless someone has a better usecase for it). I don't want to have unnecessary/ineffective preference, and as shown here, this setting is handled more effectively on the host side.

[2022-03-14 18:25] gujjwal00 commented on #68
I didn't notice it immediately either. When I attached the debugger only partial URI was passed to AVNC and that's when it clicked.

I will try to implement it. Just have to figure out how it may interact with #51 in future.

I cannot reproduce this. Changing password correctly results in 'Authentication failed' for me. AVNC doesn't do any caching of VNC URI.

[2022-03-14 18:54] Android-X13 commented on #68
That's really strange, I can still reproduce it right now:

`am start 'intent://host:port?VncUsername=wrong_user&VncPassword=wrong_pass#Intent;scheme=vnc;package=com.gaurav.avnc;end'`

It opens AVNC and immediately connects to the given `host:port` without even prompting for the correct credentials!

Maybe to reproduce it on your side:

1. Connect once via `am start -d 'vnc://host:port?VncUsername

[2022-03-15 20:33] jose1711 opened #69 "Feature request: quality and color settings"
Could you please add per-connection quality and color-depth settings to the application?

[2022-03-15 23:14] gujjwal00 commented on #69
I am already working on quality control. Basic work is done, just need some finishing.

I will not add color-depth setting though. AVNC is using OpenGL ES, which already limits the possible options to only 16bit & 24bit, and upcoming support for client-side cursor rendering makes it pretty hard to support 16bit.

[2022-03-15 23:21] gujjwal00 commented on #68
Unfortunately I am still unable to reproduce it. Anyway, I am closing this issue. I will investigate the caching behavior when I have some time.

[2022-03-15 23:21] #68 closed

[2022-03-15 23:43] jose1711 commented on #69
:partying_face:

yes, that makes perfect sense. thank you.

[2022-03-26 18:35] gujjwal00 commented on #49
It turned out slightly more complex than I thought, but client-side cursor rendering is now supported. It unlocked many other features and comes with pretty big improvements to cursor responsiveness. There is essentially zero lag to cursor movement now.

- Issue with TightVNC is now fixed (as a workaround)
- Frame will now follow the cursor
- There is a new input preference for 'Swipe sensitivity'

[2022-03-26 18:39] gujjwal00 commented on #58
Hi @Anonymous2716 , this has been implemented. Frame will now follow the cursor when 'Direct touch' is disabled.
You can use the following APK to test it: https://github.com/gujjwal00/avnc/suites/5812767723/artifacts/194574168

[2022-03-26 18:40] gujjwal00 commented on #64
Hi @Yonle  , this has been implemented. Frame will now follow the cursor when 'Direct touch' is disabled.
You can use the following APK to test it: https://github.com/gujjwal00/avnc/suites/5812767723/artifacts/194574168

[2022-03-26 19:35] user8446 commented on #49
I just tried and it and appreciate the new swipe sensitivity setting and I do notice the improved cursor responsiveness. Nice!

I'm on UltraVNC server now so I'll have to try TightVNC when I have access to that machine.

[2022-03-26 20:04] Anonymous2716 commented on #58
@gujjwal00 awesome its perfect. Thanks for your time and for the  app.

[2022-03-26 20:04] #58 closed

[2022-03-27 01:14] gujjwal00 commented on #58
You can watch #69 for quality control management.

[2022-03-27 02:07] Yonle commented on #64
Worked well!

[2022-03-27 02:56] Anonymous2716 commented on #58
Alright thanks.

[2022-03-27 17:23] gujjwal00 commented on #55
Updated. Thanks @zequinh4 .

[2022-03-27 17:23] #55 closed

[2022-03-28 20:02] fighuass opened #70 "Unable to connect to PC (GNOME Screen Sharing)"
It works just fine in MultiVNC (another Android VNC client), but not in AVNC. When I try to connect I get "Disconnected".

Log:
[log.txt](https://github.com/gujjwal00/avnc/files/8365920/log.txt)

[2022-03-28 23:42] gujjwal00 commented on #70
From the logs it looks like password checking failed. Can you please double check the password saved in AVNC.

[2022-03-29 14:22] gujjwal00 commented on #62
Any update @seancrowe?

[2022-03-29 17:14] user8446 commented on #49
Update: I just tried TightVNC server and everything works as expected. I have also been using this AVNC beta client now for the last few days with no issues.

[2022-04-02 08:25] gujjwal00 commented on #49
AVNC v1.8.0 is now available on F-Droid.

[2022-04-02 08:25] #49 closed

[2022-04-02 08:26] gujjwal00 commented on #64
AVNC v1.8.0 is now available on F-Droid.

[2022-04-02 08:26] #64 closed

[2022-04-02 08:32] gujjwal00 commented on #62
Because I cannot reproduce the issue, and there is no progress here, I am closing this.

But, feel free to reopen if you want.

[2022-04-02 08:32] #62 closed

[2022-04-11 17:19] gujjwal00 commented on #66
Well, there is no technical problem with increasing minimum zoom. For AVNC, its just a number, only used to coerce the current zoom. Main issue is how to implement the preference UI.

Right now, minimum is always less than or equal to maximum. I don't want to have a UI where minimum can go above maximum. I believe that would be confusing from users' perspective. We will have to probably link both

[2022-04-11 17:59] user8446 commented on #66
I agree, maximum would have to at least be equal to the minimum automatically. Not a bug or big deal, just a small extra step after connecting.

[2022-04-12 03:10] gujjwal00 commented on #62
Yes, AVNC doesn't actively listen for clipboard changes.    If you are using multiple apps side-by, try tapping on AVNC after copying from other app.

It is possible to register a clipboard listener, but I didn't want to read clipboard while in background due to privacy concerns.

[2022-04-15 15:04] traverseda opened #73 "Keyboard doesn't show up during password prompt on fire tv"
An odd request I'm sure, but when using the app via fdroid on a fire tv the virtual keyboard doesn't come up for the password field.

[2022-04-15 15:23] gujjwal00 commented on #73
Is this specific to password field, or all text boxes?

BTW, I have never tested AVNC on a TV before. How is your experience?

[2022-04-15 15:40] traverseda commented on #73
There are some quality of life improvement that could be made, I think probably using it on a TV is very similar to using the app with keyboard navigation on a normal android distribution. It's very common for apps not to work well using keyboard navigation so I have a shortcut that lets me bring up a virtual pointer and click on stuff. The virtual point experience is not very pleasant but it does

[2022-04-15 15:53] gujjwal00 commented on #73
Thanks for the details, will do some debugging tomorrow.

I did try try to improve keyboard navigation during development, but I only tested it on my phone so it is possible there are few bugs. I will look into improving the pain points when I get some time.

[2022-04-15 17:57] traverseda commented on #73
Awesome, like I say it's over all pretty good and work-around exist for the problems that are there. I can confirm that basic functionality works fine, the only caveat is the one password screen (I think it might be selecting the saved passwords dropdown instead of the next input? Not sure) and general keyboard navigation.

[2022-04-15 17:59] traverseda commented on #73
Also worth noting that it's obviously always in landscape mode, which might affect keyboard navigation? I'm not sure, I mostly do python web app type stuff.

[2022-04-16 06:02] gerrishons opened #74 "Force portrait and force landscape mode"
This is handsdown the best vnc app ive used, however i have a new feature to request: the force portrait and force landscape mode

[2022-04-16 06:50] gujjwal00 commented on #74
Thanks, I will look into it.

[2022-04-16 15:30] gujjwal00 commented on #73
I could not find any issue with the code (its relatively simple) and Google didn't help either.

Only difference between server editor and password dialog is that password dialog uses `TextInputLayout` from Material Components and `AutoCompleteTextView` instead of a regular `EditText` widget. I suspect this may be the issue. I have created a debug APK which includes multiple dummy password fields

[2022-04-16 17:09] traverseda commented on #73
I can side load no problem, doing a bunch of spring cleaning so I might not get to it for a day or two.

[2022-04-16 17:35] traverseda commented on #73
The only one that works is password 2

[2022-04-17 16:32] gujjwal00 commented on #73
Thanks, that confirms my suspicion. It looks like virtual keyboard will only show up for `EditText`, and not for `AutoCompleteTextView` which is a subclass of  `EditText`.

To rule out any Android specific bug I tried Android TV 9 image in Android Studio Emulator. Virtual keyboard was successfully shown for all three password fields. So it seems specific to Fire TV.

Can you please try a different

[2022-04-28 20:02] PureIncompetence commented on #58
I totally agree regarding this app: definitely the best FOSS VNC viewer on Android so far.
Like the creator of that issue I also came here from RealVNC viewer and missed the feature he described. In said app though its implemented combined with the "touchpad"-style cursor behaviour, which does not seem to be possible in aVNC so far, if I'm not mistaken.
To me (and probably some other users coming

[2022-04-29 01:00] gujjwal00 commented on #58
Hi @PureIncompetence , thank you for kind words.

Can you please explain a bit more about what you are missing? For context, AVNC has two main touch modes:

- **Direct touch ON** This is the typical Android-style behavior, and clicks happen on touch point.
-  **Direct touch OFF** This is more like a laptop touchpad, swiping moves the pointer and clicks happen wherever the pointer is. Frame/Viewer

[2022-04-29 09:22] PureIncompetence commented on #58
Hi @gujjwal00 , I will try to explain it as understandable as I'm able to.

What I was describing was regarding to the 'Direct touch OFF'-mode.
When the view was somewhat zoomed in (so I wasn't seeing the whole remote screen on my phone), the part I was seeing was moving with the cursor, keeping it centered on the local screen, as long as possible / until I reached the edges of the remote screen.

[2022-04-29 09:26] Anonymous2716 commented on #58
This is exactly what I was talking about.

[2022-04-29 09:45] gujjwal00 commented on #58
Thanks for the video, now I understand the issue. I will try to implement this behavior.

[2022-04-29 12:29] PureIncompetence opened #75 "Feature Request: option to disable "natural scrolling" / to reverse scrolling direction"
When I activate remote content scrolling via 'Input' -> 'Two-finger swipe' -> 'Scroll remote content' the remote content is scrolling down when I swipe up and vice versa. Afaik that's called 'natural scrolling'. For me and probably others it would be helpful being able to choose the scrolling direction which we regard as intuitive.

[2022-04-30 11:53] gujjwal00 commented on #58
Can you both please test the following APK: [app-debug.zip](https://github.com/gujjwal00/avnc/files/8596807/app-debug.zip)
Pointer should now stay in center as long as possible.

[2022-04-30 12:03] Anonymous2716 commented on #58
Yes thanks thats awesome. Might need to adjust sensitivity in the settings and it looks perfect in my view . also need a little resolution improvement.

[2022-04-30 13:40] PureIncompetence commented on #58
Yes, thats the cursor behaviour we described. Imho Its much more convenient to use than it was before.
Thank you.

[2022-04-30 16:38] gujjwal00 commented on #75
It should be pretty simple to implement (just have to flip the sign of two variables), so I don't have any problem with it.

My only concern is UI complexity of settings - i.e. Input Settings page is already a bit crowded, and I am slightly cautious about adding new preferences there. So instead of making the new preference always visible, I think it would be better if new pref is only visible whe

[2022-04-30 16:46] gujjwal00 commented on #75
One more question: does 'natural scrolling' only affect the vertical motion?

[2022-05-03 16:19] gujjwal00 commented on #75
I may be misunderstanding something, but if you don't use vertical scrolling then this feature seems unnecessary to me?

Again, I may be missing something, but your initial comment suggests that setting 'Two-finger swipe' to  'Scroll remote content' was working.

[2022-05-05 20:12] gujjwal00 commented on #75
No problem!

I am attaching an APK here:  [app-debug.zip](https://github.com/gujjwal00/avnc/files/8635535/app-debug.zip)

Please test it out when you have some time. 'Natural scrolling' preference should become visible when remote scrolling is used. It is 'ON' by default to preserve current behavior.

About horizontal scrolling: Its working correctly on my side. Please double-check that the cursor

[2022-05-05 21:19] misterAnderson90 opened #76 "Cryptographic APIs misuses"
I'm a PhD student interested in finding security vulnerabilities in open source projects.

We found a total of 78 warnings (indicating potential vulnerabilities) when running the CogniCrypt static analyzer (*) on AVNC (or its library dependencies). We documented each one of these issues in private gists for the sake of confidentiality (non-disclosure).

Can you please let us know whether we can sh

[2022-05-06 01:16] gujjwal00 commented on #76
To be honest, this looks like automated spam. Also your tool and AVNC both being freely available, anyone can do this analysis, so I don't understand the "secrecy" here.

But in any case, you can reach me at: avnc.help@gmail.com

[2022-05-06 17:38] PureIncompetence opened #77 "Feature Request: setting default zoom level"
Right now the default zoom-state on an opened connection in portrait mode seems to be determined by the width (a.k.a. the height in landscape mode) of the phone's screen, so it uses only ~ 50% of the phone's screen in portrait mode. Therefore everytime after connecting I need to zoom in at least until the height of the remote screen matches the height of the phone screen to be able to see somethin

[2022-05-06 18:20] PureIncompetence opened #78 "Enhancement idea: option to show toolbar (permanently?) on top/bottom in portrait mode"
In my opinion the wording for current options on where to align the toolbar (start/end) aren't optimal, left/right might be be more comprehensible.
Additionally it might be useful for portrait mode to align the toolbar to the bottom of the screen, especially if the content isn't zoomed in enough to fill 100% of the screen. (I'll attach a screenhot to show what I mean.)
![screenshot_toolbar_top+bot

[2022-05-11 03:48] iluvatar1 opened #79 "Cannot connect to Mac os x screen share"
**Description**

Hi, avnc correctly finds the vnc server that activates when the screen sharing is running on Mac os x, but when trying to connect to it it just fails and shows disconnected without even asking for the password. Other apps like multivnc can connect. It I add the server then avnc shows a glowing green icon which, I guess, means that it detects the server. It's there something I can

[2022-05-11 04:03] gujjwal00 commented on #79
Hi @iluvatar1, Thank you for reporting the issue.

You can go to `Settings => Tools => Logs` to access AVNC logs.
Please copy-paste the logs here. Hopefully, logs will highlight the issue.

[2022-05-11 04:12] iluvatar1 commented on #79
Hi, here are the logs (I cleared them just before trying to connect)
--------- beginning of main
05-10 23:11:23.586 29312 29312 I ViewRootImpl@1abc87d[PopupWindow:e9d7ed4]: Relayout returned: old=(2118,69,2535,205) new=(2118,69,2535,205) req=(417,136)0 dur=7 res=0x1 s={true -5476376652556558336} ch=false fn=40
05-10 23:11:23.592 29312 29312 I DecorView: notifyKeepScreenOnChanged: keepScreenOn=fals

[2022-05-11 04:31] gujjwal00 commented on #79
Here is the relevant portion:

05-10 23:11:32.049 29312 29339 I NativeVnc: We have 4 security types to read
05-10 23:11:32.049 29312 29339 I NativeVnc: 0) Received security type 30
05-10 23:11:32.049 29312 29339 I NativeVnc: Selecting security type 30 (0/4 in the list)
05-10 23:11:32.049 29312 29339 I NativeVnc: 1) Received security type 33
05-10 23:11:32.049 29312 29339 I NativeVnc: 2) Received s

[2022-05-11 04:46] iluvatar1 commented on #79
Thank you. Just let me know what else I can do. It actually stopped working for all my connections. Y resseted the data and cache, added a new connection (working on other app) with no success. It almost immediately disconnects

[2022-05-11 04:54] gujjwal00 commented on #79
Yes, I might need your help in testing possible solutions because I don't any device with Mac OS.

Quick question: was it working before, or it never worked in AVNC?

[2022-05-11 05:06] iluvatar1 commented on #79
I never tested. But other connections are also not working, and they worked
before. That is why I tried clearing the cache and the data with no
success?
I will be happy to help.
Thanks for avnc

On Tue, May 10, 2022, 23:54 Gaurav Ujjwal ***@***.***> wrote:

[2022-05-11 08:05] gujjwal00 commented on #79
My first suspect is wolfSSL library, used for encryption by AVNC. It was updated in v1.8.0.

I am attaching two APKs here:

1. [app-debug.zip](https://github.com/gujjwal00/avnc/files/8667836/app-debug.zip) - This is a debug APK created using the the latest wolfSSL version released last week. I also added some extra logging. This can be installed alongside existing release version.
2. [app-v1.7.0](

[2022-05-11 15:18] iluvatar1 commented on #79
Hi. It does not work with the first one. I copy the log now
--------- beginning of main
05-11 10:17:52.343 24462 24462 I ViewRootImpl@5a638b1[PopupWindow:2ff7f58]: Relayout returned: old=(1158,69,1575,205) new=(1158,69,1575,205) req=(417,136)0 dur=6 res=0x1 s={true -5476376652447518720} ch=false fn=41
05-11 10:17:52.352 24462 24462 I DecorView: notifyKeepScreenOnChanged: keepScreenOn=false
05-11 1

[2022-05-11 15:22] iluvatar1 commented on #79
It does not work with the second one, version 1.7.0 Here are the logs
--------- beginning of main
05-11 10:20:43.642 26657 26657 I ViewRootImpl@296daf0[PopupWindow:4665733]: Relayout returned: old=(1158,69,1575,205) new=(1158,69,1575,205) req=(417,136)0 dur=5 res=0x1 s={true -5476376652506759168} ch=false fn=40
05-11 10:20:43.645 26657 26657 I DecorView: notifyKeepScreenOnChanged: keepScreenOn=fal

[2022-05-11 15:23] iluvatar1 commented on #79
I have tried removing the cache and the data. Is there something else I should do to discard a local problem? Or the fact that the connection works with another app is enough? Thanks for your time

[2022-05-12 15:26] iluvatar1 commented on #79
Hi, again, thanks for your time.
It still does not work. I thought that maybe my device/account could have a
bad config, so I created another account in the same device and actually
tested on two other different devices with no success. Maybe I am the only
one looking for this, so don't worry, but of course I am willing to explore
more options and test to help track this issue.
Have a nice day

On

[2022-05-12 18:49] gujjwal00 commented on #79
Well, I had a feeling it won't work 😔, but atleast we know every version is affected.

Now I want to try two things:
- Replace wolfSSL with LibreSSL. This will atleast confirm if wolfSSL is the culprit. I will prepare an APK tomorrow.
- Mac OS Virtual Machine. I don't known if it's possible or how much time it will take, but if I can reproduce the issue locally, I can probably figure it out.

Plea

[2022-05-12 18:55] iluvatar1 commented on #79
Ok.
I can try the libreSSL version if you wish.
I use Mojave, Mac Os X 10.14.6 . But if you need to test with a more modern
version, I will have Monterrey by the end of the month
Thanks again.

On Thu, May 12, 2022 at 1:49 PM Gaurav Ujjwal ***@***.***>
wrote:

--

Best regards / Cordialmente,

William-Fernando Oquendo
--------------------------
Este correo puede carecer de tildes o eñes debido al

[2022-05-13 11:20] gujjwal00 commented on #79
I am attaching two more APKs:

- [app-debug-libressl.zip](https://github.com/gujjwal00/avnc/files/8686456/app-debug-libressl.zip) - Uses LibreSSL as crypto library. Hopefully this will work correctly.

- [app-debug-wolfssl.zip](https://github.com/gujjwal00/avnc/files/8686445/app-debug-wolfssl.zip) - Enables wolfSSL debugging. Please paste the logs from this APK, as it may highlight the root cause.

[2022-05-14 15:36] gujjwal00 commented on #79
Ignore my last comment.

I was able to setup a Mac OS VM, and reproduce the issue. As suspected wolfSSL is problematic here, LibreSSL works perfectly. I was able to solve the current issue but there is another issue (only with wolfSSL) which I can't figure out yet. I can't even figure out where the problem is. Everything seems normal, no error in logs, and yet the connection is failing somehow.

S

[2022-05-15 14:24] gujjwal00 commented on #79
Fixed both issues! Please test this APK: [app-debug.zip](https://github.com/gujjwal00/avnc/files/8695150/app-debug.zip)

AVNC can connect successfully now.

[2022-05-16 04:16] iluvatar1 commented on #79
Hi!
It is working!
Thanks a lot for your time and effort, really!

On Sun, May 15, 2022, 09:24 Gaurav Ujjwal ***@***.***> wrote:

[2022-05-16 16:54] gujjwal00 commented on #73
I am closing this because its not a bug in AVNC. And as you said, password can changed in the editor dialog.
I am still keeping track of the pain points you described with AVNC on a TV.

Thank you.

[2022-05-16 17:51] gujjwal00 commented on #74
Hi @gerrishons, I have implemented a preference for the screen orientation (`Settings => Viewer => Screen orientation`).

You can test this APK: [app-debug.zip](https://github.com/gujjwal00/avnc/files/8702232/app-debug.zip)
Let me know if it works correctly for you.

Thank you.

[2022-05-17 07:25] RuofengX commented on #65
Hi! I am using AVNC on my android tablet. I also met the scoll speed issue. I am using tigerVNC with xfce as a windows manager. And I could not find the scoll speed setting in my host system preference.

I think the scolling speed setting is not totally unnecessary,  and it could be a workaround in some rare cases, for another example that you have to scoll to the setting but the speed is to fast.

[2022-05-17 08:18] gujjwal00 commented on #65
Hi @RuofengX, since then I have added another preference named 'Swipe sensitivity'. It is similar to the preference mentioned here, but more general.

[2022-05-19 03:51] #79 closed

[2022-05-22 22:07] user8446 opened #81 "AVNC crashes with certain devices"
Hi,

 I have noticed that AVNC does not work and crashes on an ASUS tablet running Android 7 which has a MediaTek processor.

I traced the crash back to the ConnectBot SSH lib specifically this issue: https://github.com/connectbot/connectbot/issues/814

I'm not sure if there's anything that you can do on your end or not and I'm also opening this issue so others can find it as well.

[2022-05-23 04:43] gujjwal00 commented on #81
Thanks for letting me know. I don't know if its possible to disable certain algorithms in sshlib, but let me look more into this.

[2022-05-25 16:20] JacobArcos opened #82 "Having trouble exporting server list..."
**Description**

Can you change the type of authentication or make it optional in the file:
`app/src/main/java/com/gaurav/avnc/ui/prefs/ImportExportFragment.kt`

Beacuse my device doesn't have biometric hardware and that makes impossible exporting my server list.

look the video [here](https://user-images.githubusercontent.com/75540925/170310917-fb9e2371-916a-4016-9e8e-4734f1511148.mp4)

**Additio

[2022-05-25 17:44] gujjwal00 commented on #82
Hi @JacobArcos , Before requiring authentication,  AVNC checks whether any authentication method (biometric/password/pattern etc) is actually enabled on the device. If there is no authentication, AVNC will not ask for it.  So it's possible that this is a bug in AndroidX Biometric library used by AVNC (or AVNC itself) where authentication method is incorrectly detected.

Can you please try setting

[2022-05-25 22:50] JacobArcos commented on #82
Hello @gujjwal00, In my Lenovo TB-X606F I have a pattern for the screen lock, you should see [this video](https://user-images.githubusercontent.com/75540925/170310917-fb9e2371-916a-4016-9e8e-4734f1511148.mp4) if you haven't seen it beacuse it doesn't even ask for password, pattern, or anything... it just returns the error "Biometric hardware unavailable."

What should I do?
Does this require the l

[2022-05-25 22:52] JacobArcos commented on #82
[Here is other video without drawings](https://user-images.githubusercontent.com/75540925/170382361-f281e848-8119-485c-bcd4-3d54f14ccfc3.mp4)

[2022-05-25 22:54] JacobArcos commented on #82
[here](https://user-images.githubusercontent.com/75540925/170382542-6085ae85-5a3d-4266-ab6d-04ad55773590.mp4) is another video, but without drawings

[2022-05-26 01:48] gujjwal00 commented on #82
Thanks for the videos, they are really helpful and did watch the first video you linked.

I have updated the Biometric library to [latest version](https://developer.android.com/jetpack/androidx/releases/biometric#1.2.0-alpha04). It includes couple of fixes related to some Android 10 devices.
Can you please try the following APK: [app-debug.zip](https://github.com/gujjwal00/avnc/files/8775510/app-d

[2022-05-26 02:14] JacobArcos commented on #82
And now the problem has been solved!

Thanks 😀.

[2022-05-26 02:14] #82 closed

[2022-05-30 21:59] misterAnderson90 commented on #76
Hello @gujjwal00,

I'm sorry for not responding to you before. I just sent you an e-mail with the private gists. Can you please evaluate the gists with your perceptions? Please let me know if you have any doubts.

[2022-05-31 02:01] gujjwal00 commented on #76
Hi @misterAnderson90, none of the issues you have described in the mail is related to AVNC itself. They are triggered by Connectbot's SSH library used in AVNC.

I have no control over this library, and no idea how valid your issues are.  I suggest you contact the library authors, but I doubt you will get a response there.

[2022-06-01 09:14] gujjwal00 commented on #81
Hi  @user8446, can you please test this APK: [app-debug.zip](https://github.com/gujjwal00/avnc/files/8812691/app-debug.zip)

It disables Curve25519 for key exchange. If the APK works and this use-case is important for you, I can add this behind an experimental preference.

[2022-06-01 09:35] #76 closed

[2022-06-01 09:50] gujjwal00 commented on #76
Just a quick feedback:

IMHO, using final APK for analysis has some drawbacks. You have no way to differentiate between actual app code and third-party libraries. This results in obviously duplicated, and misdirected effort on your part. And as you are already aware, the context (line numbers, file names etc.) of the issue is often lost in optimized APK.

Good luck with you PhD and research :+1: .

[2022-06-03 02:07] user8446 commented on #81
Ok I tried the debug version and even with the ed25519 key still in place, it connected the first time. Every attempt after fails for some reason. I tried clearing data & reinstalling the app. I also tried switching to an RSA key but it still fails. Double checked the keys, server, and a different client and all is well. Here is the AVNC client log:

[code]

[2022-06-06 14:05] sudomain commented on #75
Could natural scrolling please be renamed to something more intuitive like "invert vertical scrolling"? I wasn't familiar with natural scrolling and had to search it and then come here. Not a big deal if not,  I know what it is now, but I imagine others will have to look it up also :)

[2022-06-06 17:06] #74 closed

[2022-06-06 17:43] gujjwal00 commented on #78
This is a result of me trying to be "technically correct". When alignment is 'Start', toolbar will align with left-edge for LTR languages like English, while it will align with right-edge when in RTL mode, e.g. with Persian. We can force the left-right alignment irrespective of the layout mode, but I tried to be consistent with other UI elements.

As for the top-bottom toolbar position, it is not

[2022-06-07 07:13] HeliusHao opened #84 "我现在用的小米12手机，可以打开，同事用的小米10，主界面可以打开，点进去具体链接就闪退了"
我邮箱 14378005@qq.com

[2022-06-07 23:08] HeliusHao commented on #84
The latest log file, please check the attachment, thank you
[New log.txt](https://github.com/gujjwal00/avnc/files/8857045/New.log.txt)

[2022-06-11 04:12] gujjwal00 commented on #84
Thanks for the logs @HeliusHao.

It appears that native library used by AVNC fails to load correctly:
[code]

This is somewhat surprising because it is almost impossible to happen. Only possible reason I can think of is if an APK intended for a particular architecture (e.g. x86) is installed on a different device (e.g. arm).

@HeliusHao How did your colleague install AVNC? Did they use an APK file

[2022-06-11 13:02] HeliusHao commented on #84
I first downloaded it from the Google store and then sent the AVNC APK file to my colleagues

Helius
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "gujjwal00/avnc"                                                                                    *

[2022-06-11 13:56] gujjwal00 commented on #84
Yeah, that is probably why AVNC is failing on your colleague's device.

To reduce download size (and size of installed app), I have enabled APK splitting (via app bundles). So default APK download from Play Store contains native library for a single ABI, and it can only be used on that ABI.

Ideally, your colleague should install directly from Play Store which will select correct version. Otherwis

[2022-06-11 13:58] HeliusHao commented on #84
Please provide me with a universal APK file. Thank you. Can you send me an email? thinks。

Helius
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "gujjwal00/avnc"                                                                                    ***@

[2022-06-11 14:13] gujjwal00 commented on #84
APK: [avnc.zip](https://github.com/gujjwal00/avnc/files/8884049/avnc.zip)

In future I am will add APK files to GitHub Release section and you can download from there.

[2022-06-11 14:22] HeliusHao commented on #84
Thanks a lot for your help.

---原始邮件---
发件人: "Gaurav ***@***.***&gt;
发送时间: 2022年6月11日(周六) 晚上10:13
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [gujjwal00/avnc] 我现在用的小米12手机，可以打开，同事用的小米10，主界面可以打开，点进去具体链接就闪退了 (Issue #84)

APK: avnc.zip

In future I am will add APK files to GitHub Release section and you can download from there.

—
Reply to this email directly, view it on GitHub, or u

[2022-06-11 17:45] gujjwal00 commented on #84
APKs for all versions are now available on GitHub: https://github.com/gujjwal00/avnc/releases

PS: You can rate/review AVNC on Play Store. Its a new listing, so still very quiet there.

[2022-06-11 17:45] #84 closed

[2022-06-28 21:52] exikyut opened #85 "Black screen when running on Asus Transformer Prime (4.1.1 :D)"
Hi,

I just came across an old TF201, and given how surprisingly (and sadly) unusable the ancient Android version it's running is, getting a decent VNC client installed is one of the more relevant things that would make this device remotely useful. I found an old version of RealVNC (it's headscratchingly similar to the latest version in terms of features and UI - huh, ok), but that client was neve

[2022-06-29 17:35] gujjwal00 commented on #85
Hi @exikyut thanks for reporting this. I am happy to help in getting AVNC work on your device. I too like to keep my old devices alive for as long as possible (I still have a Pentium Dual Core system alive on Ubuntu 16.04).

AVNC uses really simple shaders (just 3 lines in total), so they might not be the issue here. Unfortunately, debugging graphics issues is really difficult without access the t

[2022-07-06 13:40] sudomain opened #86 "Feature request: enable direct touch mode or "pointer" mode on a per-host basis"
I like both direct touch mode and its alternative ("pointer mode"? I'm not sure of the name), but frequently find myself going into the settings to switch between the two depending on the host I'm connecting to. Direct touch mode works well for my Android hosts (using droidVNC-ng) and pointer mode works well for my *nix hosts running a variety of window managers that aren't optimized for touch. Wo

[2022-07-07 08:35] exikyut commented on #85
Wow, I wasn't expecting this response :D

I see the 3 lines in question in Shaders.kt in https://github.com/gujjwal00/avnc/tree/master/app/src/main/java/com/gaurav/avnc/ui/vnc/gl/... but then I wonder if any of the other files might somehow be involved too...

FWIW, here's the result of `adb reboot && adb logcat` and then starting AVNC once the device reboots: [tf201-logcat.txt](https://github.com

[2022-07-09 12:43] gujjwal00 commented on #85
Lets first try to get clean shader validation logs.

From the [SO Question](https://stackoverflow.com/questions/6801832/android-textures-gl-states-do-not-match-with-shaders), the message might be due to validation being done *before* texture is generated. I have pushed a new branch https://github.com/gujjwal00/avnc/tree/tegra-gpu , where texture is generated before shader compilation.

Please reba

[2022-07-10 07:52] gujjwal00 commented on #86
So I have been thinking about this, and per-host gesture mode seems a better choice to me too.
- As you said, different modes may be more suitable for different hosts. Original idea was that it is a *per-user* preference.
- Since releasing this feature, I have seen users getting confused about the terminology around 'Direct touch'. This terminology spilled over from code, where these modes are cal

[2022-07-10 08:29] exikyut commented on #85
Nooo D:

Sadly there is unfortunately no change:

[code]

I uninstalled the app off the device to be sure it was being updated.

So to be clear, both the black screen and the validation message are both still present.

And for the purposes of disambiguation, my "rebase" consisted of moving `val textureId = createTexture()` to the top of this block:

[code]
and adding a new `glActiveTexture(GL_TEXT

[2022-07-10 08:53] gujjwal00 commented on #85
Well, that's unfortunate! Whats even more confusing is the line `Program [3] validation result: 1`. `1` is the value of  `GL_TRUE` which implies that shaders were validated successfully. This is why I originally thought that the last line was *not* the reason for black screen.

I will try to find other leads.

[2022-07-10 11:18] gujjwal00 commented on #85
Hi @exikyut,  can you please grab `libGLESv2_tegra.so` from your device (probably at `/vendor/lib/egl/libGLESv2_tegra.so`) and upload it here?

[2022-07-10 13:12] exikyut commented on #85
Wow, this thing doesn't even have `find`. Yikes. `ls -lR` to the rescue; it was actually in `/system/lib`.

Cue me going "ooh these other things are all interesting" and then they aren't actually relevant, but I came across a few GLES-related files while looking for the one you mentioned. **I note that `libGLESv2_tegra.so` is rather tiny compared to `libGLESv2_tegra_impl.so`** - so either you actu

[2022-07-10 13:37] sudomain commented on #86
IMO it looks great and the new wording is much clearer. I noticed the `One-finger swipe` gesture gets disabled when direct touch is disabled. If the preference is removed, then should `One-finger swipe` have a note added to make it clear it only applies to relative mode?

[2022-07-11 17:16] gujjwal00 commented on #86
After further investigation, I don't think we can remove 'Direct touch' preference without reducing functionality. Per-host option will not work for the connection started via following methods:
- From top Urlbar
- Tapping on discovered servers
- `vnc://` URIs (via Android Intents)

So instead of removing, it has to be re-worded to match new terminology. And now per-host option has to provide anot

[2022-07-12 08:44] exikyut commented on #85
# !!!!! :D

![yay](https://user-images.githubusercontent.com/57065657/178446915-3578d339-cd11-4320-ae7f-ba3860486e52.png)

### I can indeed zoom the pattern.

I can't pan it around, but two-finger pinching it zooms it relative to the center of the screen.

Wow, this is *fascinating*. Where'd the pattern come from?!

[2022-07-12 09:20] gujjwal00 commented on #85
That is encouraging! Although the pattern should be smooth like this:

![texture](https://user-images.githubusercontent.com/27951674/178452977-166bee86-24c8-46f7-849e-f4d7a39d6de1.png)

But this can be figured out later.

Zoom-In until pattern is larger than the screen, then you will be able to pan it.  Also, zooming happens relative to the center of touch points (i.e. the two fingers).

So instea

[2022-07-12 09:50] gujjwal00 commented on #85
Here is the commit: https://github.com/gujjwal00/avnc/commit/17960f8ab3fa0da93ddebebe069f81943f2d5e9c ([patch](https://github.com/gujjwal00/avnc/commit/17960f8ab3fa0da93ddebebe069f81943f2d5e9c.patch)). Previous two commits mentioned in this issue should be reverted before applying this.

Now the shader program will be validated during render pass, so the `P1202` validation message should not appea

[2022-07-13 08:38] exikyut commented on #85
Sorry for the delay, initially thought I'd made a mistake reverting the previous two patches so waited until I'd had a second look. I'm not honestly sure - I applied the patch you linked after reverting everything, unfortunately that's got me back to a black screen again.

It's quite possible I made a mistake somewhere. Here's the current state of what I'm working from:

[diff.txt](https://github.

[2022-07-13 12:46] gujjwal00 commented on #85
Another dead end 😞!

Your diff looks normal to me.

Is it possible to setup remote debugging on this device? If adb over network can be enabled on this device, and it has an IPv6 address, I can connect via adb remotely and try different things.

[2022-07-13 22:59] exikyut commented on #85
I don't think my ISP understands what an IPv6 is yet :smile_cat: but I *think* I might have something working here.

I must confess I've been fiddling with this for the past day or two and got hung up on the speed of taking screenshots - which on this device, is "*oh okay (wow)*" slooow. Capturing is fast, it's the encoding (JPG or PNG) that's torture. I actually tried getting libjpeg-turbo going,

[2022-07-14 02:22] gujjwal00 commented on #85
Thanks.

So the idea is to run one or more tests from [VncActivityTest](https://github.com/gujjwal00/avnc/blob/master/app/src/androidTest/java/com/gaurav/avnc/ui/vnc/VncActivityTest.kt). These tests use a [dummy server](https://github.com/gujjwal00/avnc/blob/master/app/src/androidTest/java/com/gaurav/avnc/TestServer.kt) so they don't depend on any external server. I will add some Thread.sleep() ca

[2022-07-14 06:16] exikyut commented on #85
Huh, something happened to the `adb` server. I just restarted it, and left `while true; do adb start-server; sleep 15; done` in a tmux session to keep it up. `adb start-server` seems to be a noop if `adbd` is already running, and `sleep` is nothing, so that should be fine.

And - facepalm, I'd completely forgotten about the server thing. Of course. Woops. For what it's worth there's actually a VNC

[2022-07-14 06:43] gujjwal00 commented on #85
I tried for couple of hours in the morning, but could not even get the test running.

First, io.mockk library refused to compile for API<21, so I had to remove it and remove bunch of tests.

Then, due to the inclusion of testing framework, method count in APK went above 65k. So I had to enable multi-dexing. Which broke the testing framework because classloader could not find the test runner classe

[2022-07-14 06:47] exikyut commented on #85
\**Activity chime*\*

I was just reading through the thread wondering what would happen next. Apparently this :D!

*Intimidated headdesk* Regarding the testing headache... ouch. Complexity explosions FTL :<

Regarding the screen being black: yup, that's unfortunately what I've been staring at all this time. Try switching the shader back to the version that draws the test pattern. Everything else h

[2022-07-14 06:53] gujjwal00 commented on #85
Yeah we can chat on Telegram, let me ping you.

[2022-07-14 07:03] exikyut commented on #85
I must sadly concede defeat to the tidal wave of unread channels I have buried in there :crying_cat_face: I can't see your ping. I can try and ping you?

[2022-07-14 07:17] gujjwal00 commented on #85
I couldn't find you!

Me: https://t.me/GauravUjjwal

[2022-07-15 18:05] gujjwal00 commented on #85
Fixed in https://github.com/gujjwal00/avnc/commit/c6716150256bc9e0d6f14a626282208c04ff032b

Summary: Tegra GPU seems to be very strict about when non-power-of-two textures can be sampled in fragment shader. If texture (i.e. server's screen resolution) is NPOT, and wrap mode is anything other than `GL_CLAMP_TO_EDGE`, sampler will always return black color.

[2022-07-15 18:05] #85 closed

[2022-07-16 17:54] gujjwal00 commented on #51
Hi @user8446 I have started working on it. Current plan to implement a per-server checkbox titled 'Biometric lock' in Advanced server options.

- You can use biometrics (e.g. fingerprint) or screen lock  ( e.g. password, pattern, PIN) to authenticate.
- Enabling/disabling it will require authentication.
- Once enabled, you will have to authenticate before connection.

Any feedback is welcome.

[2022-07-16 18:15] user8446 commented on #51
Hi I think that implementation would work perfect and increase security for the users!

[2022-07-18 16:16] exikyut commented on #85
Meant to get back to this tab sooner, got sidetracked a bit.

I discovered the (no-root!) droidVNC-NG VNC server for Android a while back, and discovered that it's so fast I can create a hacky remote viewfinder by opening the camera app and streaming the display. It's absolutely awesome.

The old version of RealVNC I found - and I would presume newer versions also, given the speed the app runs at

[2022-07-18 18:18] gujjwal00 commented on #77
Sorry for late response @PureIncompetence.

Instead of having a default zoom preference, would "remembering" the last zoom level of a connection solve this issue? This provides a more generic solution, without any effort from user's side. And users don't have to think about which particular zoom value will fill the screen.

@user8446, IMO, Remembering the zoom level also removes the need to allow

[2022-07-18 18:33] gujjwal00 commented on #85
Thanks @exikyut!

And yes, AVNC is better than a lot of apps available on Play Store in many areas. Just need to get some publicity to it.

[2022-07-18 20:55] user8446 commented on #77
Great idea... remembering the last zoom level would solve both issues

[2022-07-20 05:47] youngshall opened #87 "Feature request: Options to disable specific encodings?"
I'm using AVNC on a android phone, connecting termux/ubuntu vnc server on the same device.
AVNC is nice and easy to use, but there is one issue: my phone's cpu performance is relative poor, while network speed is good(both vnc client and server are on the same device).
This situation limits my vnc desktop framerate. So I'm wondering, if only raw encoding is used, framerate would certainly go up.
S

[2022-07-20 06:17] gujjwal00 commented on #87
Hi @youngshall, I am already working on image quality controls (related #69). It also includes an option for raw image quality.

Unfortunately, I haven't found the time to finish it yet. Hopefully, it will be finished in next couple of weeks.

[2022-07-20 11:24] youngshall commented on #87
Thanks, sounds great! I'm really looking forward to that!

[2022-07-21 14:42] gujjwal00 commented on #51
Here is the initial implementation: [app-debug.zip](https://github.com/gujjwal00/avnc/files/9160163/app-debug.zip)

You can enable "Lock this server" in advanced server options. Please test out different scenarios, like wrong finger etc.

Some thoughts:
- Current option is per-server. Would it not be better to have a single option in app Settings which enables biometric auth for all servers?
- I a

[2022-07-25 12:36] user8446 commented on #51
I have used is as my daily driver for several days now and it works as expected.

The only thing I have a question on is a few times when the fingerprint auth appears if I delayed before authorizing I had a few times when it wouldn't connect. The issue could have been anything though such as signal since I was on mobile.

When the fingerprint auth appears it shows "connecting" in the background. A

[2022-07-25 13:58] gujjwal00 commented on #51
This should not happen. If you encounter this again, please send the logs to me.

No, that's just the initial state of VncActivity. Thre are three main states: Connecting, Connected, Disconnected. Before introduction of locking, app was really connecting. But now, unlock is the first step, and rest of the stuff happen after successful unlock.

I am thinking about moving this option to app settings

[2022-07-25 22:31] user8446 commented on #51
You are probably right, auth for all or none should work for everyone.

[2022-07-28 15:15] gujjwal00 commented on #77
I don't mind adding a preference, but I beleive in this case remembering last level is more simple and effective. Single preference might not fit servers with different resolution/aspect-ratio. It also forces us to link different zoom levels (min, max, defaults) together so they can't be set to contradictory values.

I mainly worry about the Input Settings. For AVNC, I have worked hardest on input

[2022-08-04 12:34] gujjwal00 commented on #77
It already works like that.

Yes, but now we don't have to remember it per-orientation. Because base scale is different for each orientation, single zoom level works optimally in both orientations, and it really simplifies the implementation.

And just a thought, but if optimizing for portrait mode solves the issue, is remembering zoom level really required anymore? Because I believe @user8446 was

[2022-08-15 23:19] barkoder opened #89 "Mouse Cursor doesn't move in View-only mode. Stays at top-left corner."
AVNC Version 1.9.1 and Version 1.9.2.

It does move and respond normally on non-View-only mode, though.

Thank you so much for this nifty piece of software!

[2022-08-16 08:36] gujjwal00 commented on #89
Thanks for reporting the issue @barkoder .
I have pushed a fix. If you want, you can test the following APK: https://github.com/gujjwal00/avnc/suites/7830623060/artifacts/331112967

Now, original motivation behind disabling cursor movement was to highlight the fact that remote cursor is actually not moved in view-only mode. But it seems to have broken 'panning' in viewer when Direct touch is off.

[2022-08-16 21:53] barkoder commented on #89
I don't mind at all. I am currently temporarily disabled due to an injury. I am lying down on my bed. I am using an older de-googled Android phone(Android 6.0) as my primary display(using AVNC), suspended over my face using a flexible mount attached to the edge of my bed. However, I am literally beside my laptop(VNC Server), using its USB keyboard while it rests on my lap and USB mouse beside my t

[2022-08-17 03:06] gujjwal00 commented on #89
Thanks for the explanation, hope you get well soon!

This option is already available: **Settings => Viewer => Screen orientation**

PS: You can use the APK I linked above until next version is released.

[2022-08-17 18:34] barkoder commented on #89
I can't believe that I didn't see that option for permanent landscape. Thanks.

Just tried the apk. It works great but I have two versions of AVNC on my phone now though. But it's okay, it works great! Thanks again.

[2022-08-22 22:19] evren320 opened #91 "Immersive mode doesn't cover whole screen"
Immersive mode doesn't cover whole screen, it doesn't cover the top bar but it is black, and it has some space from bottom, not touching the bottom edge of the phone, but it covers back button there, i use Android 9 on Galaxy S10+

[2022-08-23 10:55] gujjwal00 commented on #91
This is done intentionally to avoid display cutouts, because they can overlap the toolbar drawer. But in your case, it seems the cutout is unlikely to interfere with toolbar, so maybe we should have an experimental pref to enable drawing behind cutouts.

[2022-08-29 17:32] tuanpham-dev opened #92 "Display frozen, mouse and keyboard input still works"
I sometimes got this problem when pressing Ctrl+C to copy text especially with this tigervnc option `-ImprovedHextile 0`. See the attachment [log.txt](https://github.com/gujjwal00/avnc/files/9446764/log.txt)

[2022-08-30 16:31] gujjwal00 commented on #92
I tried with two different versions of tigervnc (1.11 & 1.7), but could not reproduce this after few tries. Are you able to reproduce this every time? I assume you were pressing Ctrl+C on the server?

If only frame is frozen and input is working, then the receiver thread might be stuck on something. Can you please add debug logs in [message processing loop](https://github.com/gujjwal00/avnc/blob/1

[2022-08-31 09:20] yan1990y opened #93 "can not connect to realnvc server"
my server runs realvnc server 6.1.0,authentication is "vnc password",avnc can not connect to it, app show authentication failed

[2022-08-31 09:30] gujjwal00 commented on #93
Can you please copy the logs from `Settings > Tools > Logs` and paste here?

Also, please double check the password saved in AVNC.

[2022-08-31 10:10] yan1990y commented on #93
![bd8bd4d8e127b3216060f13cac6eda70](https://user-images.githubusercontent.com/31801069/187654907-6e564891-c384-4189-aa63-14c02b165196.jpg)
![25e6db72de97d2532d2ad829a1818308](https://user-images.githubusercontent.com/31801069/187654918-702e4448-0b45-4d19-aeb7-a49c2018a7d3.jpg)
Log is empty,I had checked my password in realvnc viewer for android app.

[2022-08-31 11:19] gujjwal00 commented on #93
Can you use ADB to retrieve the logs?
Let me know if you need help with ADB.

[2022-08-31 11:31] yan1990y commented on #93
I can use adb.But I need you to tell me detail,so I can do it.I know how to use android studio to read logs,but I don't know how to find specified app log

[2022-08-31 11:42] gujjwal00 commented on #93
Great! Don't worry about specific app, just copy everything.
- Clear/delete all logs using Android Studio
- Try to connect in AVNC
- Copy the logs

[2022-09-01 03:22] yan1990y commented on #93
2022-09-01 11:21:30.977 10332-10355/com.gaurav.avnc I/NativeVnc: VNC server supports protocol version 5.0 (viewer 3.8)
2022-09-01 11:21:30.982 10332-10355/com.gaurav.avnc I/NativeVnc: We have 5 security types to read
2022-09-01 11:21:30.982 10332-10355/com.gaurav.avnc I/NativeVnc: 0) Received security type 13
2022-09-01 11:21:30.982 10332-10355/com.gaurav.avnc I/NativeVnc: 1) Received security typ

[2022-09-01 03:24] yan1990y commented on #93
this vnc server config:
![企业微信截图_1662002637520](https://user-images.githubusercontent.com/31801069/187825248-c07334fa-8ab5-489d-96d8-a1642e97d556.png)

[2022-09-01 03:52] gujjwal00 commented on #93
Thanks for the logs & server config. As you can see, none of the security types offered by server is currently supported by AVNC:

[code]

This is due to current server configuration you have:

![image](https://user-images.githubusercontent.com/27951674/187827259-d950e9eb-dad3-4e15-b2f5-e8a3090d7407.png)

Can you please try changing Encryption to `Prefer on`, and Authentication to `VNC password`?

[2022-09-01 04:56] yan1990y commented on #93
after my test,I change Encryption to Prefer on,anvc works.always on option will fail.change Authentication to VNC password or keep Windows password have no difference.

[2022-09-01 05:04] gujjwal00 commented on #93
Yes, `Always on` forces an encrypted connection, but RealVNC's encryption scheme is not supported by the LibVNCClient library (which is used by AVNC).  `Prefer on` allows unencrypted connection, which will be used by AVNC.

If you want encrypted connections with a RealVNC server, you can use SSH tunneling.

[2022-09-01 05:09] yan1990y commented on #93
thanks a lot!

[2022-09-01 05:09] #93 closed

[2022-09-08 16:44] tuanpham-dev commented on #92
For more context, I am using linux deploy for the server on the same device. The chance I got the problem was about 30%.

After enable developer options I rarely see the problem (not sure why). I am closing this issue and will dig into the problem when I have time. Will let you know if I find anything.

[2022-10-03 16:26] tuanpham-dev commented on #92
This issue is happening again to me after 1-2 hours using the app for connecting local chroot server. I got this error in logs `OpenGLRenderer: setSurface called with nullptr`. I think it is related to [this](https://bugzilla.mozilla.org/show_bug.cgi?id=1762424#c3).

[2022-10-03 17:43] gujjwal00 commented on #92
Is there anything special about when this issue occurs, aside from `Ctrl+C`? E.g. device is rotated, server resolution is changed or memory is low. Is it possible to try a different server to rule out any server-side issue?

I don't have a rooted device to reproduce this, so if you want I can prepare an APK with extra logging to detect deadlocks.

[2022-10-04 07:17] tuanpham-dev commented on #92
It occurs after long time of running when memory usage is high (mainly chromium) and my tablet is a little hot. It even occurs when I select text before copying.

Yes, it would be nice if you can provide the apk so I can test myself and give you the logs.

[2022-10-04 17:46] gujjwal00 commented on #92
I have added some logging to monitor different threads: https://github.com/gujjwal00/avnc/commit/afa86d7185c365d49f4b0ea5e2f16579a9013155
CI built APK: https://github.com/gujjwal00/avnc/suites/8611507064/artifacts/386289451

During VNC session, ThreadMonitor will log some stats every 2 seconds. If any thread is blocked, or server is not sending framebuffer updates, we should be able to identify it

[2022-10-07 08:10] tuanpham-dev commented on #92
Hi, the please check the log attached
[aa28215b.txt](https://github.com/gujjwal00/avnc/files/9731960/aa28215b.txt)

[2022-10-07 10:58] gujjwal00 commented on #92
Most recent ThreadMonitor stats from the logs are as follows:

[code]

Looking at these logs it appears that around `15:01:55` AVNC stopped receiving framebuffer updates from server. You can see the time since last FBU keep increasing, even though all threads are still running.

I am assuming this is when display appeared frozen, and after about 14 seconds at  `15:02:09` you stopped the connection

[2022-10-19 16:43] gujjwal00 commented on #77
I have thought a lot about this issue, and tried multiple solutions, but none of them seemed to properly satisfy everyone (including me).
- Remembering previous zoom backfires sometimes. If I was zoomed-in on something before closing the session, next time the zoom is too big or too small, and I have to immediately adjust it.
- Automatically increasing the frame size in portrait mode is also probl

[2022-10-21 18:45] user8446 commented on #77
@gujjwal00 I've been testing, nice work here!!

I think the zoom save feature is spot on! Each user can save their own default in each orientation. Easy.

As for the 80% default height when on, my opinion is I don't think it's needed, who knows what each user wants. I think just a simple toggle to either save or not save would do the trick to make it simple for the users.

[2022-10-22 08:02] gujjwal00 commented on #77
Thanks for testing!

Yeah, I agree. Because setting default zoom is so trivial now, I don't think we need to be extra clever here.

Can you please explain a bit more here? Are you talking about another option in Settings?

[2022-10-22 15:33] tuanpham-dev commented on #92
I think the problem is from libvncclient, I have the same problem with multivnc. bvnc and vnc viewer still work fine.

[2022-10-22 19:03] gujjwal00 commented on #92
Yes, it could be a bug in libvncclient. But given the nature of this bug, it will be pretty hard to debug this.

Just to rule out a server issue, have you tried running a different server?

[2022-10-22 23:38] user8446 commented on #77
Thinking about this more, `Separate zoom for each orientation` would probably be best in the toolbar drawer zoom options to group zoom settings together.

Also I'm not sure if it was intended or not but toggling `Separate zoom for each orientation` off turns off the ability to save altogether.

[2022-10-23 01:25] gujjwal00 commented on #77
The reason here is that `Separate zoom for each orientation` works globally, and is not specific to a particular server. So it resides with other global zoom settings like min/max. 'Save zoom' on the other hand is per-server, it only changes default zoom for currently connected server. Both of these features work independently of each other.

I am not able to reproduce this. I can save the zoom ir

[2022-10-23 18:32] user8446 commented on #77
I tested again and it does work exactly how you described. Thank you for the explanation!

[2022-10-25 23:59] DeSAiRePLYX opened #94 "[Feature request] Allow to initiate drag and drop by double tapping without releasing after 2nd tap"
This would allow to initiate drag and drop more quickly.
The way I would assume this can be implemented is to add a delay after tapping for the second time. (Much shorter than e.g. the delay to activate drag-n-drop in the current version. Possibly around half of the delay-time for sending a right click, but this is only a rough idea.) If the cursor is moved within this time, activate drag-n-drop u

[2022-10-26 02:09] gujjwal00 commented on #94
Hi @DeSAiRePLYX , if we can reliably detect double-tap-swipe without affecting other gestures, I will implement it. But this will probably have to wait for sometime because I am currently focused on fixing current issues and finishing next version.

[2022-10-26 13:57] gujjwal00 commented on #51
Finally finished it: https://github.com/gujjwal00/avnc/commit/cb84cb271284c483a71c3ae82450a0a30de6ca67
It will be available in next version.

[2022-10-26 14:07] gujjwal00 commented on #69
It got delayed quite a bit, but I have finally finished it. You can now change image quality in advanced server options:
##
![image](https://user-images.githubusercontent.com/27951674/198047637-b47d485d-8839-4a25-8c63-e7a25ed4a743.png)
##

Test APK:  https://github.com/gujjwal00/avnc/suites/8969083439/artifacts/412379656

It will be available in next release.

[2022-10-26 14:09] gujjwal00 commented on #87
Please see https://github.com/gujjwal00/avnc/issues/69#issuecomment-1292109350

[2022-10-26 14:12] gujjwal00 commented on #86
Final implementation: https://github.com/gujjwal00/avnc/commit/4dbfaf4a71eb7a6ac37f458e70d1f7117077cd3b
Test APK: https://github.com/gujjwal00/avnc/suites/8969083439/artifacts/412379656

It will be available in next release.

[2022-10-26 14:17] gujjwal00 commented on #91
I have added an experimental option to draw behind display cutout:
##
![image](https://user-images.githubusercontent.com/27951674/198050500-5ae3e47e-12a4-4a8d-80cb-9dc414a38671.png)
##

Test APK:  https://github.com/gujjwal00/avnc/suites/8969083439/artifacts/412379656

It will be available in next release.

[2022-10-26 14:36] gujjwal00 commented on #73
Hi @traverseda , I have finally figured out the navigation issue. Turned out that ViewPager2 was stealing focus during navigation. Hopefully, navigation will work as expected now.

Test APK: https://github.com/gujjwal00/avnc/suites/8969083439/artifacts/412379656

It will be available in next release (if you are still using AVNC 😀 ).

[2022-10-26 23:47] user8446 commented on #77
Looking forward to it, thank you!

[2022-10-26 23:48] user8446 commented on #51
Looking forward to it, thank you!

[2022-10-26 23:48] #51 closed

[2022-11-04 00:02] Anonymous2716 opened #95 "[Feature request] : add Fn keys along extra keys."
It has CTRL TAB ALT Shift etc. I think it will be completed if there is also the F keys. And/or a window/osx/home key .

[2022-11-04 00:44] gujjwal00 commented on #95
Windows key has already been added (https://github.com/gujjwal00/avnc/commit/a487e4dd94656bf5671bf1cf38b64266a9ca4cbb), and will be available in next version.

I initially skipped Fn keys because the key strip became too long with them.

[2022-11-04 00:46] Anonymous2716 commented on #95
That's long indeed. But its a scrolling view. And that's great about the windows key.

[2022-11-04 00:58] gujjwal00 commented on #95
In that case, I will add Fn keys.
What about having two rows of virtual keys: one for default keys, and one for extra keys?

[2022-11-04 01:00] Anonymous2716 commented on #95
Yeah that might work if not too thick . and / or maybe a toggle button in settings to enable disable them?

[2022-11-04 01:29] gujjwal00 commented on #95
Well, it will have to be thick to be actually usable, otherwise miss-hits will be too frequent. Adding a pref for this is not as simple due to involvement of scroll views (there will be multiple scroll views). We will probably have to manually manage the layout based on the pref.

For now, I will just add the function key.

[2022-11-04 02:14] Anonymous2716 commented on #95
If its thick maybe making it half translucent will be better. But for now adding the keys will be great.  Thanks.

[2022-11-07 17:05] gujjwal00 commented on #75
After trying to come up with a short & clear enough summary for both On & Off states, and failing miserably, I am just going with 'Invert vertical scrolling' here. It will be disabled by default. Any changes you have made to 'Natural scrolling' until now will be automatically migrated.

[2022-11-10 10:50] gujjwal00 commented on #95
Implemented in latest release: https://github.com/gujjwal00/avnc/releases/tag/v2.0.0 ( https://github.com/gujjwal00/avnc/commit/581572b6d090014d327491d64ec52423c15a4d0f)

[2022-11-10 10:50] #95 closed

[2022-11-10 10:58] gujjwal00 commented on #89
This is now available in [v2.0.0](https://github.com/gujjwal00/avnc/releases/tag/v2.0.0).

[2022-11-10 10:58] #89 closed

[2022-11-10 10:59] gujjwal00 commented on #87
Raw encoding is now available in [v2.0.0](https://github.com/gujjwal00/avnc/releases/tag/v2.0.0).

[2022-11-10 10:59] #87 closed

[2022-11-10 11:00] gujjwal00 commented on #86
[v2.0.0](https://github.com/gujjwal00/avnc/releases/tag/v2.0.0) is now available.

[2022-11-10 11:00] #86 closed

[2022-11-10 11:00] #77 closed

[2022-11-10 11:02] #75 closed

[2022-11-10 11:03] gujjwal00 commented on #69
[v2.0.0](https://github.com/gujjwal00/avnc/releases/tag/v2.0.0) is now available.

[2022-11-10 11:03] #69 closed

[2022-11-10 13:18] sudomain commented on #86
Thank you!

[2022-11-11 08:43] youngshall commented on #87
Thanks! That's really helpful to me. Can't wait to try it out.

[2022-11-12 00:10] Anonymous2716 commented on #95
@gujjwal00 thanks.

[2022-11-16 16:01] cClaude opened #97 "Doesn't work with the default Raspberry PI VNC server"
I would like to reopen https://github.com/gujjwal00/avnc/issues/7

On `Raspberry Pi OS`  it possible to enable VNC support using `sudo raspi-config`

This install following file: `realvnc-vnc-server_6.10.1.47571_arm64.deb` for `realvnc-vnc-server (6.10.1.47571)`.

I managed to get AVNC to work with my raspberries (it was working before summer 2022).

I have tested with versions available on f-droi

[2022-11-16 16:19] gujjwal00 commented on #97
From the logs, it looks like in your case AVNC is not even able to connect to Raspberry PI. Can you please double check the host address & port number, and that the PI is reachable from your Android device?

[2022-11-16 17:06] #97 closed

[2022-11-16 17:16] gujjwal00 commented on #97
No problem 👍.

I too have forgotten about my firewall rules more than once.

[2022-11-18 11:12] rihaq opened #98 "Indian friend what is "Use Repeater" ?"

[2022-11-19 00:42] #98 closed

[2022-11-19 10:52] pop123123123 opened #99 "Meta (super) key should be a toggle"
The virtual super key added in [a487e4d](https://github.com/gujjwal00/avnc/commit/a487e4dd94656bf5671bf1cf38b64266a9ca4cbb) is a simple stroke.
That means it can't be used as a modifier (on windows super + d, super + e...), but only alone to display a start menu.
Solution : implement the meta key in the same way shift, alt and ctrl are (ToggleButton).

I would open a pr, but I don't have a way to

[2022-11-19 16:59] gujjwal00 commented on #99
Well, I originally implemented it as a toggle, but found the experience sub-optimal. Primary function of Ctrl/Shift/Alt is to be used in combination with other keys, so using a toggle button works well there. But for Super key, 90% of the time I just wanted to open the start menu. Using a toggle forced two taps, which I found a bit jarring in case of Super key. So I went with a simple button.

I d

[2022-11-20 10:03] pop123123123 commented on #99
In that case maybe a checkbox in the settings?
Or maybe a long press to toggle it, short press for a simple stroke (more work, I presume)

Nov 19, 2022 18:00:03 Gaurav Ujjwal ***@***.***>:

[2022-11-21 18:11] rihaq opened #100 "Support audio using pulseaudio"

[2022-11-22 20:49] zequinh4 opened #101 "Não totalmente modo imersivo"
Hello my friend @gujjwal00 . How much time. In the 4.1 update of One UI (Samsung) we have this small line on the top edge to put the application in windowed mode. However, this makes it difficult to press screen features that are at the top.
Is there a possibility of a fully immersive one? Thanks.

https://user-images.githubusercontent.com/51301335/203418206-b02a0fad-32c3-4633-84cd-bf7d402b4361.mp

[2022-11-23 01:55] gujjwal00 commented on #101
Does this happen in other apps too?

[2022-11-23 12:45] zequinh4 commented on #101
Hello. For the most part yes. Some video apps in Full Screen mode can bypass this. Thanks for listening!

[2022-11-23 12:52] gujjwal00 commented on #101
Can you tell me which apps?

[2022-11-23 13:02] zequinh4 commented on #101
Sorry. In fact, even when clicking/touching the screen, this same line appears... It must be impossible to remove it because it is from the system itself.

[2022-11-23 13:19] gujjwal00 commented on #101
Yeah, if none of the apps is able to hide it, then it is probably impossible.

[2022-11-23 15:20] zequinh4 commented on #101
If you have time to stop and take a look later, I'd be grateful. thank you my friend. hugs from Brazil

[2022-11-25 18:50] Buntbart opened #102 "FR: more detailed error messages"
Can we have more detailed output on error messages when connections ar failing, please?
The message:
`( There was a problem while connecting to machine:22 )`
doesn't explain very much.

In my case I try to investigate why AVNC does not connect via ssh to one specific server, while
- other clients like Remmina can connect to this server
- AVNC can connect to other servers in the same way (ssh-tunne

[2022-11-26 01:48] gujjwal00 commented on #102
I would love to provide more relevant error messages, but my hands are tied here. These messages can come from the 3-party libraries, which sometimes wraps the real error inside a generic error. E.g. in case of LibVNCClient, it simply returns true/false result. I had to [patch](https://github.com/gujjwal00/libvncserver/commit/b18a3272c2a8195b95cdf3645320c71d81b8ac2e) it to get some sensible errors

[2022-11-26 04:34] gujjwal00 commented on #100
Hi @rihaq , this will not be supported (at least for now). I have repeatedly tried to implement some sort of audio support but I have always failed.

- There is no native support for audio in RFB protocol. Only documented protocol extension that I am aware of is from QEMU project, which doesn't seem to be supported by other servers.
- Other approach is to have separate connection for audio, but wi

[2022-11-26 04:40] gujjwal00 commented on #101
I googled around a bit, but could not find a way to disable this.

Only interesting lead I found was the last paragraph of this article: https://www.rprna.com/updates/one-ui/one-ui-4-1-tip-how-to-use-multi-windows-on-your-samsung-phone/
I don't know if they are talking about the same line you are, but do check it out.

I am closing this issue for now, but if you find any other app which is able to

[2022-11-26 04:40] #101 closed

[2022-11-26 11:37] Buntbart commented on #102
Oh, sorry, I had not initially discovered the log function in the tools.
But it is still confusing:
- after a reboot of the computer I can get to LightDM via AVNC and can log in.
- when after a while the screen of the computer dims, I can't connect anymore: "Host unreachable". Also when i wake it up i can't connect anymore.
- nevertheless I can still reach the computer from the same smartphone wit

[2022-11-26 11:50] gujjwal00 commented on #102
You seem to be using `machine` as SSH host.
- Is this host reachable from your smartphone (e.g. from termux)?
- Can you please try using the IP address directly?
- Can AVNC connect to  `machine` without SSH?

[2022-11-26 12:08] Buntbart commented on #102
- `ssh user@machine` works in termux
- oh, yes, it works with AVNC while using the IP address directly!
- x11vnc-server on machine is restricted to localhost, so it is intended that I can't connect without SSH.

[2022-11-26 13:07] gujjwal00 commented on #102
Well if using IP address works, then I don't really know why libssh is throwing `NoRouteToHostException`. Could be a DNS issue or firewall issue. Maybe IPv6 is somehow involved.

You may have to do dome digging yourself 😀. Maybe something special is configured in termux. If you have control over x11vnc-server, you could temporarily allow remote connections.  Or maybe try ConnectBot's SSH client (A

[2022-11-26 14:03] Buntbart commented on #102
With connecting to the IP address directly I have a workaround now. Thank you for your efforts!

[2022-11-26 14:03] #102 closed

[2022-11-26 15:10] Buntbart commented on #102
I tried a little more and found a solution.
`machine` is a laptop that turns off the wifi after login. The routers DHCP had an IP address `xxx.xxx.xxx.59` stored for the wifi connection.
Apparently AVNC tried unsuccessfully to connect to it and then gave up instead of trying the other IP address for the ethernet connection on `xxx.xxx.xxx.100`.
I have now assigned xxx.xxx.xxx.101 to the wifi conne

[2022-11-28 19:05] gujjwal00 commented on #102
Hi @Buntbart , I have added support for multiple IP address (only had to do this for `libssh`, as non-SSH connections already support this).

Can you please test the following APK with your original DNS configuration:
https://github.com/gujjwal00/avnc/suites/9546601612/artifacts/454006921

[2022-11-28 22:48] Buntbart commented on #102
This version works fine in my old setup!
`machine` gets found even when the wifi-connection with lower IP address is turned off.
Thank you again for your work, I'm looking forward to the next release on F-Droid.

[2022-11-29 01:47] gujjwal00 commented on #102
Note that libssh only provides a single `connect()` method which does the whole setup (connecting to address, key exchange, host-key verification etc.). So `connect()` can fail for a number of reasons, and blindly retrying `connect()` on every error is not suitable. For now, next address will be tried only if `Host unreachable` error is encountered.

[2022-11-29 15:23] ThieuMinh26 opened #104 "No option to hide the keyboard"
there is no option to turn off the keyboard , why the button can show the keyboard but it can hide the keyboard

[2022-11-29 15:25] ThieuMinh26 commented on #104
2 finger tap gesture too ,if i open the keyboard how do i disable it

[2022-11-29 15:32] gujjwal00 commented on #104
Simply press the Back key on navigation bar.

[2022-11-29 15:37] gujjwal00 commented on #104
Because, believe it or not, there is no reliable API available to check if keyboard is visible, for all supported Android versions. There are heuristics, which can fail. So I don't want a situation where user is unable to open keyboard.

[2022-11-29 15:50] ThieuMinh26 commented on #104
then can you add a new hide key board button or add a option to disable keyboard using 2 finger tap or sth like that ?

[2022-11-29 15:52] ThieuMinh26 commented on #104
this vnc is way faster than realvnc but it have some annoying feature 🥲

[2022-11-29 15:56] ThieuMinh26 commented on #104
like there is no option to enable /disable both keyboard and toolbar at the same time , i have to disable it twice🥲

[2022-11-29 16:09] gujjwal00 commented on #104
No, I am not adding a redundant button.

Maybe an option can be added. But what's your issue with back press?

Have you tried enabling `Open with keyboard` in **Settings => Input => Virtual Keys** ?

[2022-11-30 00:36] ThieuMinh26 commented on #104
its hard  to do that and take a lot of of time in portrait mode

Settings => Input => Virtual Keys

thank you